/******************************/
/** Tabs Bar *******************/
/******************************/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#tabs-bar {
    background-color:rgba(200, 200, 200, 0.1);
    display:flex;
    flex-wrap:wrap;
    
    height:40px;
    margin-bottom: 5px;
    
    border-left: groove;
    border-top: groove;
    border-right: groove;
    
    > ul.tabs-list {
        font : .8em sans-serif;
        
        margin: 0;
        list-style-type : none;
        line-height : 35px;
        //max-height: 35px;
        overflow: hidden;
        display: inline-block;
        padding-right: 20px;
        
        > li.active {
            z-index: 2;
            background: #e9ecf3;
            box-shadow: 0 10px 20px rgba(0,0,0,.7);
            color: #678098;
            font-weight: bold;
            border:0;
            margin-top:3px;
        }
        
        > li {
          float : left;
          margin : 5px -5px 0;
          padding : 0 30px 0 25px;
          
          position : relative;
          //border: 2px solid;
          max-width : 200px;
          
          //border-color: #678098;
          background-color: #b3c0cc;
          color: #f2f6f9;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
          
          > span.tab-text {
              display: inline-block;
              max-width:100%;
              overflow: hidden;
              text-overflow: ellipsis;
              text-decoration: none;
            }
        }
        
    }
}
