html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important; }

#outer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch; }
  #outer-container #inner-container {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch; }
    #outer-container #inner-container #sidebar-container {
      max-height: 100%;
      overflow-y: auto;
      direction: rtl;
      padding-left: 10px; }
      #outer-container #inner-container #sidebar-container .sidebar-dbui {
        direction: ltr;
        max-width: 97%; }
    #outer-container #inner-container #sidebar-container.scrollbar-visible {
      padding-left: 0;
      margin-right: 10px; }
    #outer-container #inner-container #sidebar-container.sb-minimized {
      min-width: 100%;
      margin-right: calc(-1 * 100% + 75px); }
    #outer-container #inner-container #main-container {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: stretch; }
      #outer-container #inner-container #main-container #main-content-area {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: stretch;
        overflow: hidden; }
        #outer-container #inner-container #main-container #main-content-area > ui-view {
          flex: 1;
          padding: 0 20px;
          overflow-y: auto; }
