html {
    width:100%;
    height:100%;
}

body {
    width:100%;
    height:100%;
    padding: 0!important;
    margin: 0!important;
}


#outer-container {
    //This is the div just under the body tag
    
    width: 100%;
    height:100%;
    
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items:stretch;  //full width of browser
    
    #navbar-container {
        // flex: 0 0 auto; //Shrinkwrap content
    }
    
    #inner-container {
        flex:1; //stretch to fill rest of the height
        
        overflow:hidden; //sub-elements will need to handle overflow
        
        //Contents of inner container flow left-to-right
        display:flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch; //Full height
        
        
        #sidebar-container {
            max-height:100%;
            overflow-y:auto;
            direction:rtl; //put scrollbar on the left
            
            padding-left:10px;
            
            .sidebar-dbui {
                direction:ltr;
                max-width:97%;
            }
            
        }
        
        #sidebar-container.scrollbar-visible {
            padding-left:0;
            margin-right:10px;
        }
        
        #sidebar-container.sb-minimized {
            //Special handling so that side-popout is visible
            min-width: 100%;
            margin-right: calc(-1 * 100% + 75px);
        }
        
        
        #main-container {
            flex:1; //stretch to fill rest of the width
            
            overflow:hidden;
            
            display:flex;
            flex-flow:column nowrap;
            justify-content:flex-start;
            align-items:stretch; //take up full width
            
            // #tabs-bar {
            // }
            
            
            #main-content-area {
                flex:1; //stretch to fill rest of the height
                
                display:flex;
                flex-flow: column nowrap;
                justify-content:flex-start;
                align-items:stretch;
                
                overflow:hidden;
                
                 > ui-view {
                    flex:1;
                    padding: 0 20px;
                    overflow-y: auto;
                }
            }
        }
    }
    
}



// #inner-page-container {
// //Inner page container is everything to the right of the sidebar
//     // max-width: calc(100% - 247px); //235+12 = space taken up by sidebar
    
//     flex:1; //for it's position within outer-page-container
    
//     display:flex; //for it's contents: tabs-bar-area and main-content-area
//     flex-direction:column;
// }

// //Main content area: Sits within inner-page-container
// #main-content-area {
//     flex:1;
//     margin-left:5px;
//     padding:6px 20px;
// }