

html {
    font-family: sans-serif;
}

body {
    background: #e9ecf3;
    color: #333;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
}



//Bootstrap adjustments
.btn, .form-control, input, textarea, select, .modal-content {
    border-radius: 0 !important;
    
}
.btn.btn-default, .btn.btn-link {
    color: #678098;
}

textarea.form-control[disabled] {
    cursor:default !important;
}
textarea.expandToFit {
    
}



/******************************/
/** Nav Bar *******************/
/******************************/

$navbar-foreground: #aeb2c4;
$navbar-foreground-highlight: #e9ecf3;

.navbar-dbui {
    background-color: #3B3F51;
    border-color: #e9ecf3;
    color: $navbar-foreground;
    
    margin-bottom:5px; //override bootstrap default of 20px
    
    .navbar-brand {
        color: $navbar-foreground;
    }
    .navbar-brand:hover {
        color: $navbar-foreground-highlight;
    }
    
    .navbar-nav > li {
        a {
            color: $navbar-foreground;
        }
        a:hover,a:focus {
            color: #262626;
        }
    }
    
    .user-icon {
        margin-left:4px;
    }
    
    
    .navbar-menu {
        .dropdown-menu {
            color: #dadce4;
            background-color: #575d77;
            z-index:1005;
        }
        .inner-submenu-header {
            font-weight:bold;
        }
        .inner-submenu-item {
            margin-left:10px;
        }
        a.disabled {
            cursor:default;
        }
    }
    
}


/******************************/
/** Sidebar   *****************/
/******************************/
// @keyframes expandheight {
//     0% {
//         max-height:0px;
//     }
    
//     100% {
//         max-height:1000px;
//     }
// };

.sidebar-title {
    > a {
        color: #b3bfcb;
        text-decoration: none;
        margin-left: -15px;
        > i {
            display:inline;
        }
    }
    
    > a:hover {
        
        color: #3B3F51;
        text-decoration: none;
    }
    
    > div.dropdown {
        cursor:pointer;
        display: inline-block;
        
        
        > ul.dropdown-menu {
            background-color:#575d77;
            color:#dadce4;
            z-index: 1002;
            
            > li.dropdown-section-heading {
                font-size:smaller;
                font-weight:bold;
                padding-left:5px;
            }
        
            > li.dropdown-menu-item {
                font-size:small;
                > a {
                    color:#dadce4;
                }
                > a:hover {
                    color: #262626;
                    background-color: #f5f5f5;
                }
            }
        }
    }
    
    direction:ltr;
    text-align: center;
    color: #3B3F51;
    padding: 0 0 4px;
    font-size: small;
}
.sidebar-dbui {
    background-color: #fff;
    width: 235px;
    float: left;
    position: relative;
    
    // margin:6px;
    padding:0;
    
    //position/top set to keep sidebar visible when scrolling down:
    // position:sticky;
    // top:50px;
    
    .toolbar {
        width:100%;
        opacity:0.5;
        
        >.btn {
            // border-top-left-radius:0;
            // border-top-right-radius:0;
            border-radius:0;
            padding:0;
            border-color:#678098;
            
            background-color:#678098;
            color:#f2f6f9;
        }
        >.btn:hover {
            background:#f2f6f9;
            color: #5b9bd1;
        }
        >.btn.active {
            border:solid 1px #575d77;
            background-color:#678098;
            color:#f2f6f9;
        }
        >.btn.active:hover {
            border:solid 1px #575d77;
            background-color:#678098;
            color:#f2f6f9;
        }
    }
    .toolbar:hover {
        opacity:0.8;
    }
    .toolbar.active, .toolbar.active:hover {
        opacity:1;
    }
    
    // .sidebar-title {
    //     color: #b3bfcb;
    //     // border: solid #b3bfcb;
    //     text-align: center;
    //     // border-width: 0 1px 1px 1px;
    //     padding: 5px 0 0 0;
    //     font-size: smaller;

    // }
    
    ul.sidebar-menu {
        list-style: none;
        padding: 0;
        margin-bottom:10px;
        margin-top:5px;
        
        
        > li {
            display: block;
            margin: 0;
            padding: 0;
            border: 0;
            min-height:44px;
            
            > a {
                color: #678098;
                display: flex;
                align-items: center;
                
                margin: 1px 0 0;
                border: 0;
                padding: 12px 15px;
                text-decoration: none;
                
                
                > i.menu-icon {
                    top: 2px;
                    margin-left: 1px;
                    margin-right: 4px;
                }
                > span.title {
                    flex:1;
                    padding-left:10px;
                }
            }
            
            //The chevron indicating if a submenu is collapsed
            i.submenu-indicator {
                float:right;
                font-size:18px;
            }
            
            // > .submenu-container {
            //     overflow:hidden;
            //     animation-name: expandheight;
            //     animation-duration: 1s;
            //     animation-delay: 0s;
            //     animation-timing-function: ease-out;
            //     animation-iteration-count: 1;
            // }
            
            > .submenu-container > ul.sub-menu {
                list-style: none;
                padding: 0;
                
                display: block;
                
                > li:hover > a {
                    background: #f2f6f9;
                    color: #5b9bd1;
                }
                
                >li {
                    background: 0 0;
                    margin: 0;
                    padding: 0;
                    margin-top: 1px!important;
                    
                    > a {
                        color: #678098;
                        display: flex;
                        margin: 0;
                        padding: 9px 14px 9px 30px;
                        text-decoration: none;
                        font-size: 12px;
                        font-weight: 400;
                        background: 0 0;
                        > span.title {
                            flex:1;
                            padding-left:10px;
                        }
                        
                    }
                }
            }
            
            > .submenu-container.popped-out {
                display:none;
            }
        }
        
        > li.sm-exposed {
            z-index:1001;
            position:relative;
            
            > a {
                background: #f2f6f9;
                color: #5b9bd1;
            }
            
        
            > .submenu-container.popped-out {
                
                display: block;
                background: rgba(0,0,0,0);
                width: inherit;
                position: absolute;
                margin-left:56px;
                margin-top: -1px;
                
    
                > ul.sub-menu {
                    display:block;
                    width: calc(100% - 56px);
                    
                    background-color:#fff;
                    box-shadow: 5px 5px rgba(140, 178, 198, 0.2);
                    
                    
                    >li >a {
                        padding: 6px 14px 9px 12px;
                    }
                }
                
                
                
            }
            
        }
    }
}



.sidebar-dbui.minimized {
    width:54px;
    
    > ul.sidebar-menu {
        
        
        > li > a > .title {
            display:none;
        }
        
        > li.sm-exposed {
            width:289px;
            box-shadow:5px 5px rgba(140,178,198,.2);
            > a > .title {
                display:inline;
                padding-left: 15px;
            }
        }
    }
}


/*
  separate class for uib-dropdown on sidebar
  (element is appended to body rather than child of .sidebar-dbui)
*/

//Little triangle at the top of the dropdown:
.sidebar-dropdown:after {
    position: absolute;
    top: -7px;
    left: 10%;
    right: auto;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #575d77;
    border-left: 7px solid transparent;
    content: '';
}
.sidebar-dropdown {
    color:#dadce4;
    background-color:#575d77;
    border-radius:0;
    
    z-index:1002; //keep it above the menu item hover
    
    box-shadow:6px 6px 2px rgba(0,0,0,0.175);
    
    margin:6px 6px 0;
    
    > li > a {
        color:#dadce4;
        background:transparent;
    }
    
    > li.selected {
        font-style:italic;
        cursor:default;
    }
    > li.bolded-item > a {
        font-weight:bold;
        padding:2px 10px;
    }
    
    > li.dropdown-section-heading {
        font-weight:bold;
        padding:2px 10px;
        cursor:default;
    }
}

/******************************/
/**DBUI Main page*****************/
/******************************/

.dbui-page-header {
    
    margin-bottom:12px;
    
    .page-title {
        // color: #697882;
        color: #3B3F51;
        font-size: 22px;
        font-weight: 400;
        // border-bottom: 1px dotted #678098;
        width: 80%;
        
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        
        .btn {
            color:#678098;
            opacity:0.7;
        }
        .btn:hover {
            opacity:1;
        }
    }
    
    .action-row {
        margin: 5px 10px;
        padding:6px;
        background: #697882;
        opacity:0.7;
        button {
            margin: 0 4px;
            font-size:12px; //a little smaller in the header
        }
        
        //layout editor menu, etc.
        .meta-edit {
            float:right;
            .btn {
                color:#ccc;
            }
        }
        .meta-edit>.btn:hover {
            color:#fff;
        }
    }
    
    .action-row:hover {
        opacity:1;
    }
    
} 

.dbui-panel {
    //z-index:-1;  //Need this because collapsed menu popout hides under this panel.  FIXME find a better way
    padding: 12px 20px 15px;
    background-color: #fff;
    box-shadow: 0 2px 3px 2px rgba(0,0,0,.3);
    margin-bottom:10px;
    
    .dbui-panel-heading {
        border-bottom: 1px solid #eef1f5;
        padding-bottom:10px;
        margin-bottom: 10px;
        
        position: sticky;
        top: 0px;
        z-index: 999;
        background-color:white;
        
        button { 
            margin: 0 4px;
        }
    }
    
    .dbui-panel-footer {
        border-top: 1px solid #eef1f5;
        padding-top:10px;
        margin-top: 10px;
        
        > button { 
            margin: 0 4px;
        }
    }
    
    
    .dbui-form {
        label {
            font-weight:400;
        }
    }
    
    .dbui-subsection-container {
          
        border: 1px solid rgb(238, 238, 238);  
        margin-bottom: 20px;
        
        .dbui-subsection-header {
            padding: 10px 15px;
            color: #697882;
            
            text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
            //background: #F5F5F5;
            background-image: linear-gradient(#F5F5F5, #F0F0F0);
            
            cursor: pointer;
        }
        .dbui-subsection-header:hover {
            //background: #F0F0F0;
                background-image: linear-gradient(#F0F0F0, #E5E5E5);
        }
        
        .dbui-subsection-content {
            
          
          padding: 5px;
          
          
        }
        
    }
    
}

.dbui-panel.save-warn {
    box-shadow: 0 4px 5px 4px rgba(200, 0, 0, 0.5);
    button.action_save {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }
}

/******************************/
/***Data Tables****************/
/******************************/


#cog-button, .datatable_btn {
    color: #678098;
}

.dbui-table-data {
    overflow-x:auto;
}

.dbui-table-data .table {
    margin-top:10px;
    
    thead a {
        color: #333;
    }
    thead > tr {
        border-top: 1px solid #e7ecf1 !important; //override bootstrap
    }
    tbody > tr > td, thead > tr > th {
        border: 1px solid #e7ecf1;
        white-space:normal;
        text-align:left;
        vertical-align:top;
        white-space:nowrap;
        
        a:hover {
            text-decoration:none;
        }
    }
    
    .action-row {
        display:flex;
        
        a {
            opacity:0.5;
            padding:0 2px;
        }
        a:hover {
            opacity:1;
            color: #678098;
        }
    }
    
    .fake-checkbox {
        cursor:pointer;
        color:'grey';
        opacity:0.8;
    }
    .fake-checkbox:hover {
        opacity:1;
    }
    
    
}

.dbui-table-data .table.shrink-wrap {
    //Expand the last column
    td:last-child{
        width:100%;
    }
}


.dbui-panel .pagination {
    >.active>a {
        background-color:#678098;
        border-color:#678098;
        color:#fff;
    }
    >li>a, >li>span {
        color: #678098;
    }
}

/******************************/
/**Editors*****************/
/******************************/
.ace_editor { height: 500px; }
.ace-toolbar {
    background-color: #eee;
    width:100%;
    height:10px;
    opacity:0.5;
}
.ace-toolbar:hover {
    opacity:1;
}

.ace-wrapper {
    background-color: #eee;
	border-bottom: 1px solid #ddd;
	
	.ace-dragbar {
	    background-color: #ddd;
        border: solid 1px #ccc;
        width: 100%;
        height: 7px;
    	cursor: row-resize;
    	opacity: 0.5;
    }
    .ace-dragbar:hover {
        opacity: 1;
    }
}


/******************************/
/**Query Builder***************/
/******************************/
.query-builder-panel {
    
    //For raw queryies
    .ace_editor {
        height:200px;
    }
    
    padding: 0;
    
    .dbui-panel-heading {
        width:100%;
        padding: 1px 1px 3px;
        margin-bottom:0;
        
        background-color:#697882;
        
        .query-panel-title {
            color: #eee;
            display: inline-block;
            padding: 3px 0 5px 5px;
            font-weight: bold;
        }
        
    }
    .base-query-title {
        background-color: #eee;
        font-size: 90%;
        
        padding: 5px 10px 8px 10px;
        font-style: italic;
        color:#262626;
    }
    
    .query-panel-main {
        margin:15px;
    }
    
    .dbui-panel-footer {
        display:flex;
        justify-content:center;
        background-color:#697882;
        width:100%;
        padding: 7px 0;
    }
    
    .querybuilder {
        //contained clausegroups are displayed in a column
        // display:flex;
        // flex-direction:column;
        
        .qb-clause-group {
            //contained clauses are displayed in a column
            display:flex;
            flex-direction:column;
            
            background-color:#eee;
            padding:10px ;
            
            .qb-outer-conj-row {
                text-align:center;
                background-color: #697882;
                color: white;
                margin: 7px -10px -10px -10px;
                padding: 4px;
                
            }
            
            .qb-clause-placeholder {
                padding-top:15px;
                text-align:center;
            }
        
            .qb-clause {
                //in a clause, we stack qb-term-row's and qb-inner-conj-row's
                display:flex;
                flex-direction:column;
                
                .qb-inner-conj-row {
                    text-align:center;
                    padding:5px;
                    
                }
                
                .qb-term-row {
                    display:flex;
                    flex-direction:row;
                    align-items:center;
                    
                    .qb-remove-term {
                        cursor:pointer;
                        opacity:0.3;
                        margin-right:20px;
                    }
                    .qb-remove-term:hover {
                        opacity:1;
                        color:#d43f3a;
                    }
                    query-term-builder {
                        flex:1; //fill remaining width after remove-term button
                        
                        display:flex;
                        flex-direction:row;
                        align-items:center;
                        
                        
                        
                        .qb-term-field-selector {
                            > a:hover, a:focus {
                                text-decoration:none;
                            }
                            background-color:white;
                            white-space: nowrap;
                            padding: 6px 12px;
                            border: 1px solid #ccc;
                            height: 34px;
                            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

                        }
                        .qb-term-op-selector {
                            //override form-control width 100%
                            width:auto;
                            margin: 0 10px;
                        }
                        
                        .qb-term-value-editor {
                            flex:1;
                            
                            .input-group {
                                //workaround for reference picker 
                                margin: 0 0 -10px;
                            }
                        }
                    }
                }
                
            }
        }
    }
    
    .btn-and, .btn-or {
        font-weight: bold;
        color: white;
        padding: 2px 16px;
        opacity:0.3;
        
    }
    .btn-and:hover, .btn-or:hover {
        opacity:1;
        
    }
    .btn-and {
        background-color: #ed6b75;
    }
    .btn-or {
        background-color: #F1C40F;
    }
    
    li.dropdown-section-heading {
        font-weight:bold;
        padding:2px 10px;
        cursor:default;
    }
    
    
    
} //End query-builder-panel




/* alert queue at bottom left of screen */
#alerts-queue {
  position: fixed;
  padding: 0 10px;
  margin-top: 20px;
  width: 480px;
  max-width: 100%;
  z-index: 999;
    bottom:0;
    right:0;

}

//Alert dropdown in navbar menu
.alert-popover {
    max-width:100%;
    border-radius: 0;
}

.alert-popover .popover-content {
    max-height:300px;
    overflow-y:auto;
}

//Object alerts
.dbui-object-alert-list {
    .alert {
        border-radius:0;
        >div {
            display:flex;
            align-items:center;
            span.alert-msg {
                flex:1;
            }
        }
    }
}

//used in "edit columns" dialog
.basic-picker-list {
    max-height: 300px;
    overflow-y: auto;
  
    .list-group-item {
      cursor:pointer;
    }
    
    .list-group-item:hover {
      background:#F5F5F5;
    }
    
    .selected-item, .selected-item:hover {
      font-weight: bolder;
    //   color:#262626;
    //   background-color: #F5F5F5;
      color: #fff;
      background-color: #204d74;
    }

    .btn-remove-item {
        opacity:0.3;
    }
    .btn-remove-item:hover {
        opacity:1;
    }
}

//Related viewer, pivot-page
.related-viewer-panel, .pivot-page-container {
    .uib-tab.active > a {
        box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
        z-index:-1;
    }
    
    .uib-tab > a {
        background-color: #eee;
        color: #777;
        border:1px solid #ddd;
    }
    .uib-tab > a:hover {
        border:1px solid #ddd;
        color:#555;
    }
}

//tabs on a dbui-panel
.inner-tabs {
    
    .uib-tab.active > a {
        color: #fff;
        background-color: #337ab7;
        z-index:0;
        box-shadow:none;
    }
    
    .uib-tab > a {
        background-color: #eee;
        color: #777;
        border:1px solid #ddd;
    }
    .uib-tab > a:hover {
        border:1px solid #ddd;
        color:#555;
    }
}

//DBUI Field editors/viewers

//Adjust the field-viewer in the generic array editor
.dbui-view-array-elem .form-control-static {
    padding-top:0;
}

.dbui-edit-field-Array {
    border: 1px solid #CCC;
}

//Perspective editor
.grabable {
    cursor: grab;
}

.perspective-layout-editor-src {
    min-height:100px;
    border:1px solid grey;
}
.perspective-layout-editor-src.on-drag-hover {
    border:2px solid blue;
}

.perspective-layout-editor {
    
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    
    
    .editor-section {
        border: 2px solid grey;
        margin-bottom:10px;
        
        
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        
        
        .section-title {
        
            border-bottom:3px solid lightgrey;
            display:flex;
            flex-direction: row;
            flex-wrap:nowrap;
            align-items:stretch;
            align-content:stretch;
            input {
                flex:1;
                font-weight: bold;
                font-size: large;
            }
            button: {
                opacity:0.7;
            }
            button:hover {
                opacity:1;
            }
        }
        
        
            
        .add-row {
            min-height:15px;
            background-color:lightgrey;
        }
        .add-row.on-drag-enter {
            //Expand when in dragging mode
            background-color:grey;
        }
        .add-row.on-drag-hover {
            border-top:solid 3px blue;
            background-color:blue;
        }
        
        .editor-row {
            display:flex;
            flex-direction:row;
            align-content: stretch;
            
            .cell-pair {
                flex:1;  //can stretch this out to fill horizontally
                
                display:flex;
                flex-direction:row;
                align-content: stretch;
                
                
                .add-column {
                    background-color:lightgrey;
                    min-width:30px;
                    max-width:40px;
                }
                .add-column.on-drag-enter {
                    background-color:grey;
                }
                .add-column.on-drag-hover {
                    background-color:blue;
                }
                
                .editor-cell {
                    flex:1;
                    border:1px solid lightgrey;
                    padding:10px 15px;
                }
                
                .editor-cell.on-drag-hover {
                    border-top:solid 3px blue;
                }
            }
        }
        
    }
}
