html {
  font-family: sans-serif;
}

body {
  background: #e9ecf3;
  color: #333;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.btn, .form-control, input, textarea, select, .modal-content {
  border-radius: 0 !important;
}

.btn.btn-default, .btn.btn-link {
  color: #678098;
}

textarea.form-control[disabled] {
  cursor: default !important;
}

/******************************/
/** Nav Bar *******************/
/******************************/
.navbar-dbui {
  background-color: #3B3F51;
  border-color: #e9ecf3;
  color: #aeb2c4;
  margin-bottom: 5px;
}
.navbar-dbui .navbar-brand {
  color: #aeb2c4;
}
.navbar-dbui .navbar-brand:hover {
  color: #e9ecf3;
}
.navbar-dbui .navbar-nav > li a {
  color: #aeb2c4;
}
.navbar-dbui .navbar-nav > li a:hover, .navbar-dbui .navbar-nav > li a:focus {
  color: #262626;
}
.navbar-dbui .user-icon {
  margin-left: 4px;
}
.navbar-dbui .navbar-menu .dropdown-menu {
  color: #dadce4;
  background-color: #575d77;
  z-index: 1005;
}
.navbar-dbui .navbar-menu .inner-submenu-header {
  font-weight: bold;
}
.navbar-dbui .navbar-menu .inner-submenu-item {
  margin-left: 10px;
}
.navbar-dbui .navbar-menu a.disabled {
  cursor: default;
}

/******************************/
/** Sidebar   *****************/
/******************************/
.sidebar-title {
  direction: ltr;
  text-align: center;
  color: #3B3F51;
  padding: 0 0 4px;
  font-size: small;
}
.sidebar-title > a {
  color: #b3bfcb;
  text-decoration: none;
  margin-left: -15px;
}
.sidebar-title > a > i {
  display: inline;
}
.sidebar-title > a:hover {
  color: #3B3F51;
  text-decoration: none;
}
.sidebar-title > div.dropdown {
  cursor: pointer;
  display: inline-block;
}
.sidebar-title > div.dropdown > ul.dropdown-menu {
  background-color: #575d77;
  color: #dadce4;
  z-index: 1002;
}
.sidebar-title > div.dropdown > ul.dropdown-menu > li.dropdown-section-heading {
  font-size: smaller;
  font-weight: bold;
  padding-left: 5px;
}
.sidebar-title > div.dropdown > ul.dropdown-menu > li.dropdown-menu-item {
  font-size: small;
}
.sidebar-title > div.dropdown > ul.dropdown-menu > li.dropdown-menu-item > a {
  color: #dadce4;
}
.sidebar-title > div.dropdown > ul.dropdown-menu > li.dropdown-menu-item > a:hover {
  color: #262626;
  background-color: #f5f5f5;
}

.sidebar-dbui {
  background-color: #fff;
  width: 235px;
  float: left;
  position: relative;
  padding: 0;
}
.sidebar-dbui .toolbar {
  width: 100%;
  opacity: 0.5;
}
.sidebar-dbui .toolbar > .btn {
  border-radius: 0;
  padding: 0;
  border-color: #678098;
  background-color: #678098;
  color: #f2f6f9;
}
.sidebar-dbui .toolbar > .btn:hover {
  background: #f2f6f9;
  color: #5b9bd1;
}
.sidebar-dbui .toolbar > .btn.active {
  border: solid 1px #575d77;
  background-color: #678098;
  color: #f2f6f9;
}
.sidebar-dbui .toolbar > .btn.active:hover {
  border: solid 1px #575d77;
  background-color: #678098;
  color: #f2f6f9;
}
.sidebar-dbui .toolbar:hover {
  opacity: 0.8;
}
.sidebar-dbui .toolbar.active, .sidebar-dbui .toolbar.active:hover {
  opacity: 1;
}
.sidebar-dbui ul.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 5px;
}
.sidebar-dbui ul.sidebar-menu > li {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 44px;
}
.sidebar-dbui ul.sidebar-menu > li > a {
  color: #678098;
  display: flex;
  align-items: center;
  margin: 1px 0 0;
  border: 0;
  padding: 12px 15px;
  text-decoration: none;
}
.sidebar-dbui ul.sidebar-menu > li > a > i.menu-icon {
  top: 2px;
  margin-left: 1px;
  margin-right: 4px;
}
.sidebar-dbui ul.sidebar-menu > li > a > span.title {
  flex: 1;
  padding-left: 10px;
}
.sidebar-dbui ul.sidebar-menu > li i.submenu-indicator {
  float: right;
  font-size: 18px;
}
.sidebar-dbui ul.sidebar-menu > li > .submenu-container > ul.sub-menu {
  list-style: none;
  padding: 0;
  display: block;
}
.sidebar-dbui ul.sidebar-menu > li > .submenu-container > ul.sub-menu > li:hover > a {
  background: #f2f6f9;
  color: #5b9bd1;
}
.sidebar-dbui ul.sidebar-menu > li > .submenu-container > ul.sub-menu > li {
  background: 0 0;
  margin: 0;
  padding: 0;
  margin-top: 1px !important;
}
.sidebar-dbui ul.sidebar-menu > li > .submenu-container > ul.sub-menu > li > a {
  color: #678098;
  display: flex;
  margin: 0;
  padding: 9px 14px 9px 30px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  background: 0 0;
}
.sidebar-dbui ul.sidebar-menu > li > .submenu-container > ul.sub-menu > li > a > span.title {
  flex: 1;
  padding-left: 10px;
}
.sidebar-dbui ul.sidebar-menu > li > .submenu-container.popped-out {
  display: none;
}
.sidebar-dbui ul.sidebar-menu > li.sm-exposed {
  z-index: 1001;
  position: relative;
}
.sidebar-dbui ul.sidebar-menu > li.sm-exposed > a {
  background: #f2f6f9;
  color: #5b9bd1;
}
.sidebar-dbui ul.sidebar-menu > li.sm-exposed > .submenu-container.popped-out {
  display: block;
  background: rgba(0, 0, 0, 0);
  width: inherit;
  position: absolute;
  margin-left: 56px;
  margin-top: -1px;
}
.sidebar-dbui ul.sidebar-menu > li.sm-exposed > .submenu-container.popped-out > ul.sub-menu {
  display: block;
  width: calc(100% - 56px);
  background-color: #fff;
  box-shadow: 5px 5px rgba(140, 178, 198, 0.2);
}
.sidebar-dbui ul.sidebar-menu > li.sm-exposed > .submenu-container.popped-out > ul.sub-menu > li > a {
  padding: 6px 14px 9px 12px;
}

.sidebar-dbui.minimized {
  width: 54px;
}
.sidebar-dbui.minimized > ul.sidebar-menu > li > a > .title {
  display: none;
}
.sidebar-dbui.minimized > ul.sidebar-menu > li.sm-exposed {
  width: 289px;
  box-shadow: 5px 5px rgba(140, 178, 198, 0.2);
}
.sidebar-dbui.minimized > ul.sidebar-menu > li.sm-exposed > a > .title {
  display: inline;
  padding-left: 15px;
}

/*
  separate class for uib-dropdown on sidebar
  (element is appended to body rather than child of .sidebar-dbui)
*/
.sidebar-dropdown:after {
  position: absolute;
  top: -7px;
  left: 10%;
  right: auto;
  display: inline-block !important;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #575d77;
  border-left: 7px solid transparent;
  content: "";
}

.sidebar-dropdown {
  color: #dadce4;
  background-color: #575d77;
  border-radius: 0;
  z-index: 1002;
  box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.175);
  margin: 6px 6px 0;
}
.sidebar-dropdown > li > a {
  color: #dadce4;
  background: transparent;
}
.sidebar-dropdown > li.selected {
  font-style: italic;
  cursor: default;
}
.sidebar-dropdown > li.bolded-item > a {
  font-weight: bold;
  padding: 2px 10px;
}
.sidebar-dropdown > li.dropdown-section-heading {
  font-weight: bold;
  padding: 2px 10px;
  cursor: default;
}

/******************************/
/**DBUI Main page*****************/
/******************************/
.dbui-page-header {
  margin-bottom: 12px;
}
.dbui-page-header .page-title {
  color: #3B3F51;
  font-size: 22px;
  font-weight: 400;
  width: 80%;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.dbui-page-header .page-title .btn {
  color: #678098;
  opacity: 0.7;
}
.dbui-page-header .page-title .btn:hover {
  opacity: 1;
}
.dbui-page-header .action-row {
  margin: 5px 10px;
  padding: 6px;
  background: #697882;
  opacity: 0.7;
}
.dbui-page-header .action-row button {
  margin: 0 4px;
  font-size: 12px;
}
.dbui-page-header .action-row .meta-edit {
  float: right;
}
.dbui-page-header .action-row .meta-edit .btn {
  color: #ccc;
}
.dbui-page-header .action-row .meta-edit > .btn:hover {
  color: #fff;
}
.dbui-page-header .action-row:hover {
  opacity: 1;
}

.dbui-panel {
  padding: 12px 20px 15px;
  background-color: #fff;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}
.dbui-panel .dbui-panel-heading {
  border-bottom: 1px solid #eef1f5;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: white;
}
.dbui-panel .dbui-panel-heading button {
  margin: 0 4px;
}
.dbui-panel .dbui-panel-footer {
  border-top: 1px solid #eef1f5;
  padding-top: 10px;
  margin-top: 10px;
}
.dbui-panel .dbui-panel-footer > button {
  margin: 0 4px;
}
.dbui-panel .dbui-form label {
  font-weight: 400;
}
.dbui-panel .dbui-subsection-container {
  border: 1px solid rgb(238, 238, 238);
  margin-bottom: 20px;
}
.dbui-panel .dbui-subsection-container .dbui-subsection-header {
  padding: 10px 15px;
  color: #697882;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(#F5F5F5, #F0F0F0);
  cursor: pointer;
}
.dbui-panel .dbui-subsection-container .dbui-subsection-header:hover {
  background-image: linear-gradient(#F0F0F0, #E5E5E5);
}
.dbui-panel .dbui-subsection-container .dbui-subsection-content {
  padding: 5px;
}

.dbui-panel.save-warn {
  box-shadow: 0 4px 5px 4px rgba(200, 0, 0, 0.5);
}
.dbui-panel.save-warn button.action_save {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

/******************************/
/***Data Tables****************/
/******************************/
#cog-button, .datatable_btn {
  color: #678098;
}

.dbui-table-data {
  overflow-x: auto;
}

.dbui-table-data .table {
  margin-top: 10px;
}
.dbui-table-data .table thead a {
  color: #333;
}
.dbui-table-data .table thead > tr {
  border-top: 1px solid #e7ecf1 !important;
}
.dbui-table-data .table tbody > tr > td, .dbui-table-data .table thead > tr > th {
  border: 1px solid #e7ecf1;
  white-space: normal;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}
.dbui-table-data .table tbody > tr > td a:hover, .dbui-table-data .table thead > tr > th a:hover {
  text-decoration: none;
}
.dbui-table-data .table .action-row {
  display: flex;
}
.dbui-table-data .table .action-row a {
  opacity: 0.5;
  padding: 0 2px;
}
.dbui-table-data .table .action-row a:hover {
  opacity: 1;
  color: #678098;
}
.dbui-table-data .table .fake-checkbox {
  cursor: pointer;
  color: "grey";
  opacity: 0.8;
}
.dbui-table-data .table .fake-checkbox:hover {
  opacity: 1;
}

.dbui-table-data .table.shrink-wrap td:last-child {
  width: 100%;
}

.dbui-panel .pagination > .active > a {
  background-color: #678098;
  border-color: #678098;
  color: #fff;
}
.dbui-panel .pagination > li > a, .dbui-panel .pagination > li > span {
  color: #678098;
}

/******************************/
/**Editors*****************/
/******************************/
.ace_editor {
  height: 500px;
}

.ace-toolbar {
  background-color: #eee;
  width: 100%;
  height: 10px;
  opacity: 0.5;
}

.ace-toolbar:hover {
  opacity: 1;
}

.ace-wrapper {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}
.ace-wrapper .ace-dragbar {
  background-color: #ddd;
  border: solid 1px #ccc;
  width: 100%;
  height: 7px;
  cursor: row-resize;
  opacity: 0.5;
}
.ace-wrapper .ace-dragbar:hover {
  opacity: 1;
}

/******************************/
/**Query Builder***************/
/******************************/
.query-builder-panel {
  padding: 0;
}
.query-builder-panel .ace_editor {
  height: 200px;
}
.query-builder-panel .dbui-panel-heading {
  width: 100%;
  padding: 1px 1px 3px;
  margin-bottom: 0;
  background-color: #697882;
}
.query-builder-panel .dbui-panel-heading .query-panel-title {
  color: #eee;
  display: inline-block;
  padding: 3px 0 5px 5px;
  font-weight: bold;
}
.query-builder-panel .base-query-title {
  background-color: #eee;
  font-size: 90%;
  padding: 5px 10px 8px 10px;
  font-style: italic;
  color: #262626;
}
.query-builder-panel .query-panel-main {
  margin: 15px;
}
.query-builder-panel .dbui-panel-footer {
  display: flex;
  justify-content: center;
  background-color: #697882;
  width: 100%;
  padding: 7px 0;
}
.query-builder-panel .querybuilder .qb-clause-group {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding: 10px;
}
.query-builder-panel .querybuilder .qb-clause-group .qb-outer-conj-row {
  text-align: center;
  background-color: #697882;
  color: white;
  margin: 7px -10px -10px -10px;
  padding: 4px;
}
.query-builder-panel .querybuilder .qb-clause-group .qb-clause-placeholder {
  padding-top: 15px;
  text-align: center;
}
.query-builder-panel .querybuilder .qb-clause-group .qb-clause {
  display: flex;
  flex-direction: column;
}
.query-builder-panel .querybuilder .qb-clause-group .qb-clause .qb-inner-conj-row {
  text-align: center;
  padding: 5px;
}
.query-builder-panel .querybuilder .qb-clause-group .qb-clause .qb-term-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.query-builder-panel .querybuilder .qb-clause-group .qb-clause .qb-term-row .qb-remove-term {
  cursor: pointer;
  opacity: 0.3;
  margin-right: 20px;
}
.query-builder-panel .querybuilder .qb-clause-group .qb-clause .qb-term-row .qb-remove-term:hover {
  opacity: 1;
  color: #d43f3a;
}
.query-builder-panel .querybuilder .qb-clause-group .qb-clause .qb-term-row query-term-builder {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.query-builder-panel .querybuilder .qb-clause-group .qb-clause .qb-term-row query-term-builder .qb-term-field-selector {
  background-color: white;
  white-space: nowrap;
  padding: 6px 12px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.query-builder-panel .querybuilder .qb-clause-group .qb-clause .qb-term-row query-term-builder .qb-term-field-selector > a:hover, .query-builder-panel .querybuilder .qb-clause-group .qb-clause .qb-term-row query-term-builder .qb-term-field-selector a:focus {
  text-decoration: none;
}
.query-builder-panel .querybuilder .qb-clause-group .qb-clause .qb-term-row query-term-builder .qb-term-op-selector {
  width: auto;
  margin: 0 10px;
}
.query-builder-panel .querybuilder .qb-clause-group .qb-clause .qb-term-row query-term-builder .qb-term-value-editor {
  flex: 1;
}
.query-builder-panel .querybuilder .qb-clause-group .qb-clause .qb-term-row query-term-builder .qb-term-value-editor .input-group {
  margin: 0 0 -10px;
}
.query-builder-panel .btn-and, .query-builder-panel .btn-or {
  font-weight: bold;
  color: white;
  padding: 2px 16px;
  opacity: 0.3;
}
.query-builder-panel .btn-and:hover, .query-builder-panel .btn-or:hover {
  opacity: 1;
}
.query-builder-panel .btn-and {
  background-color: #ed6b75;
}
.query-builder-panel .btn-or {
  background-color: #F1C40F;
}
.query-builder-panel li.dropdown-section-heading {
  font-weight: bold;
  padding: 2px 10px;
  cursor: default;
}

/* alert queue at bottom left of screen */
#alerts-queue {
  position: fixed;
  padding: 0 10px;
  margin-top: 20px;
  width: 480px;
  max-width: 100%;
  z-index: 999;
  bottom: 0;
  right: 0;
}

.alert-popover {
  max-width: 100%;
  border-radius: 0;
}

.alert-popover .popover-content {
  max-height: 300px;
  overflow-y: auto;
}

.dbui-object-alert-list .alert {
  border-radius: 0;
}
.dbui-object-alert-list .alert > div {
  display: flex;
  align-items: center;
}
.dbui-object-alert-list .alert > div span.alert-msg {
  flex: 1;
}

.basic-picker-list {
  max-height: 300px;
  overflow-y: auto;
}
.basic-picker-list .list-group-item {
  cursor: pointer;
}
.basic-picker-list .list-group-item:hover {
  background: #F5F5F5;
}
.basic-picker-list .selected-item, .basic-picker-list .selected-item:hover {
  font-weight: bolder;
  color: #fff;
  background-color: #204d74;
}
.basic-picker-list .btn-remove-item {
  opacity: 0.3;
}
.basic-picker-list .btn-remove-item:hover {
  opacity: 1;
}

.related-viewer-panel .uib-tab.active > a, .pivot-page-container .uib-tab.active > a {
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.related-viewer-panel .uib-tab > a, .pivot-page-container .uib-tab > a {
  background-color: #eee;
  color: #777;
  border: 1px solid #ddd;
}
.related-viewer-panel .uib-tab > a:hover, .pivot-page-container .uib-tab > a:hover {
  border: 1px solid #ddd;
  color: #555;
}

.inner-tabs .uib-tab.active > a {
  color: #fff;
  background-color: #337ab7;
  z-index: 0;
  box-shadow: none;
}
.inner-tabs .uib-tab > a {
  background-color: #eee;
  color: #777;
  border: 1px solid #ddd;
}
.inner-tabs .uib-tab > a:hover {
  border: 1px solid #ddd;
  color: #555;
}

.dbui-view-array-elem .form-control-static {
  padding-top: 0;
}

.dbui-edit-field-Array {
  border: 1px solid #CCC;
}

.grabable {
  cursor: grab;
}

.perspective-layout-editor-src {
  min-height: 100px;
  border: 1px solid grey;
}

.perspective-layout-editor-src.on-drag-hover {
  border: 2px solid blue;
}

.perspective-layout-editor {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}
.perspective-layout-editor .editor-section {
  border: 2px solid grey;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}
.perspective-layout-editor .editor-section .section-title {
  border-bottom: 3px solid lightgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  button-opacity: 0.7;
}
.perspective-layout-editor .editor-section .section-title input {
  flex: 1;
  font-weight: bold;
  font-size: large;
}
.perspective-layout-editor .editor-section .section-title button:hover {
  opacity: 1;
}
.perspective-layout-editor .editor-section .add-row {
  min-height: 15px;
  background-color: lightgrey;
}
.perspective-layout-editor .editor-section .add-row.on-drag-enter {
  background-color: grey;
}
.perspective-layout-editor .editor-section .add-row.on-drag-hover {
  border-top: solid 3px blue;
  background-color: blue;
}
.perspective-layout-editor .editor-section .editor-row {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}
.perspective-layout-editor .editor-section .editor-row .cell-pair {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}
.perspective-layout-editor .editor-section .editor-row .cell-pair .add-column {
  background-color: lightgrey;
  min-width: 30px;
  max-width: 40px;
}
.perspective-layout-editor .editor-section .editor-row .cell-pair .add-column.on-drag-enter {
  background-color: grey;
}
.perspective-layout-editor .editor-section .editor-row .cell-pair .add-column.on-drag-hover {
  background-color: blue;
}
.perspective-layout-editor .editor-section .editor-row .cell-pair .editor-cell {
  flex: 1;
  border: 1px solid lightgrey;
  padding: 10px 15px;
}
.perspective-layout-editor .editor-section .editor-row .cell-pair .editor-cell.on-drag-hover {
  border-top: solid 3px blue;
}