html {
    width:100%;
    height:100%;
    font-family: sans-serif;
}

body {
    width:100%;
    height:100%;
    background: #e9ecf3;
    color: #333;
    padding: 0!important;
    margin: 0!important;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
}

.container {
    width:100%;
    height:100%;
    
    display:flex;
    flex-direction:column;
    //justify-content:center;
    align-items:center;
    
    .content {
        padding: 12px 20px 15px;
        background-color: #fff;
        box-shadow: 0 2px 3px 2px rgba(0,0,0,.3);
        min-width:50%;
        margin-top:10%;
    }
    
}