<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title ng-bind="fullPageTitle"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{appDescription}}">
