<body>
    <div id="outer-container">
        <div id="navbar-container" ng-if="noonianInitialized" ng-include="'dbui2/core/navbar.html'"></div>
        <div id="inner-container">
            <div id="sidebar-container" ng-if="noonianInitialized" ng-include="'dbui2/core/sidebar.html'" ng-class="{'sb-minimized':layoutStatus.sidebarMinimized, 'scrollbar-visible':layoutStatus.leftScrollbarVisible}"></div>
            <!--<div id="tabs-bar-area" ui-view="tabsBar"></div>-->
            <div id="main-container" >
                <!--<div id="tabs-bar-area" ui-view="tabsBar"></div>-->
                <div id="main-content-area" ui-view="mainContentArea"></div>
            </div>
        </div>
    </div>
    <div id="alerts-queue"  ng-show="alertMenu.showQueue">
        <div uib-alert ng-repeat="alert in alertMenu.newAlerts" ng-class="'alert-'+alert.type" ng-click="closeDbuiAlert(alert)" close="closeDbuiAlert(alert)">
            {{alert.msg}}
        </div>
    </div>
    <script src="ws/dbui2/customStatesProvider"></script>
</body>
