
<div class="dbui-pivot-page pivot-page-container">
    <a id="top"></a>
    <div class="col-md-12 dbui-header">
      <h3>Noonian Packaging</h3>
      <div ng-show="headerMessages.length" style="background-color:#EEE; border:2px inset; padding:4px; font-weight:bold">
        <div ng-repeat="msg in headerMessages" ng-class="msg.alert_class"><i ng-show="msg.icon" class="fa fa-2x" ng-class="msg.icon"  style="vertical-align:middle"></i> <a href ng-show="msg.action" ng-click="msgClicked(msg)">{{msg.text}}</a><span ng-hide="msg.action">{{msg.text}}</span></div>
      </div>
      
      <!-- <button class="btn btn-primary" ng-repeat="a in pageConfig.headerActions" ng-click="invokeAction(a)"><i ng-show="a.icon" class="fa" ng-class="a.icon"></i> {{a.label}}</button> -->
    </div>
    <div ng-hide="initialized" class="text-center">
        <i class="fa fa-2x fa-spinner fa-spin"></i>
    </div>
    <uib-tabset class="tabset main-tabs" active="activeTab" type="pills" ng-if="initialized">
        <uib-tab heading="Current System" index="'current'">
            <div class="dbui-panel">
                <ng-include src="'sys/pkg_mgmt/current.html'"></ng-include>
            </div>
        </uib-tab>
        <uib-tab index="'install'">
            <uib-tab-heading>
                <i class="fas fa-download"></i> <span style="font-weight:bold">Install</span>
            </uib-tab-heading>
            <div class="dbui-panel">
                <ng-include src="'sys/pkg_mgmt/install.html'"></ng-include>
            </div>
        </uib-tab>
        <uib-tab index="'dev'">
            <uib-tab-heading>
                <span style="font-weight:bold">In-Development</span>
            </uib-tab-heading>
            <div class="dbui-panel">
                <ng-include src="'sys/pkg_mgmt/dev.html'"></ng-include>
            </div>
        </uib-tab>
        <uib-tab index="'repos'">
            <uib-tab-heading>
                <span style="font-weight:bold">Repositories</span>
            </uib-tab-heading>
            <div class="dbui-panel">
                <ng-include src="'sys/pkg_mgmt/repos.html'"></ng-include>
            </div>
        </uib-tab>
        
        <uib-tab index="'utils'">
            <uib-tab-heading>
                <span style="font-weight:bold">Utilities</span>
            </uib-tab-heading>
            <div class="dbui-panel">
                <div class="dbui-panel-heading">
                    <button class="btn btn-default" ng-click="refRepair()" ng-disabled="waiting"><i class="fa fa-lg fa-wrench"></i>Rebuild/Repair Reference Index <i class="fa fa-spinner fa-spin" ng-show="waiting"></i></button>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
    
</div>