<div>
    <div class="dbui-page-header">
        <div class="page-title">
            <span>Password Change</span>
        </div>
    </div>
    
    <div class="col-sm-12 col-md-6 dbui-panel">
        <div class="row">
            <div class="col-xs-12 ">
                <p>Please type in your new password below:</p>
                <p class="alert" ng-class="messageClass">{{message}} <ul ng-show="complexityRequirements"><li ng-repeat="c in complexityRequirements">{{c}}</li></ul></p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <form class="form-horizontal">
                    <div class="form-group">
                      <label for="pw" class="control-label">New Password</label>
                      <input name="pw" type="password" class="form-control" ng-model="pw"/>
                    </div>
                    <div class="form-group">
                      <label for="pwConfirm" class="control-label">Confirm New Password</label>
                      <input name="pwConfirm" type="password" class="form-control" ng-model="pwConfirm" />
                    </div>
                    <button class="btn btn-default" value="Submit" ng-disabled="!pw || (pw != pwConfirm)" ng-click="submitChange()">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>