<div>
    <div class="dbui-page-header">
        <div class="page-title">
            <span>Build Noonian Package: {{bop.key}}</span>
        </div>
    </div>
    <span ng-show="waiting" class="ng-hide"><i class="fa fa-2x fa-spinner fa-pulse"></i> {{waiting}}</span>
    
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <button class="btn btn-danger btn-block" ng-click="generate()">Generate Package</button>
        </div>
    </div>
    
    <div class="row">
        <div ng-show="objectMap">
            
            <table class="table table-bordered table-striped" ng-repeat="c in classes">
                <thead>
                    <tr><th colspan="7">{{c}} ({{objectMap[c].length}} Objects)</th></tr>
                    <tr>
                        
                        <th>Include?</th>
                        <th>Disp</th>
                        <th>ID</th>
                        <th>Update Count</th>
                        <th>Version in package</th>
                        <th>To-Be-Incorporated version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in objectMap[c]" ng-class="{warning:(!obj.manifestVersion)}">
                        <td><input type="checkbox" ng-model="obj.include"></td>
                        <td>{{ obj.disp }}</td>
                        <td><a href ng-click="showRecord(c, obj.id)">{{ obj.id }}</a></td>
                        <td>{{ obj.updateCount }}</td>
                        <td>{{ obj.manifestVersion }}</td>
                        <td>{{ obj.latestVersion }}</td>
                    </tr>
                </tbody>
            </table>
                    
        </div>
    </div>
</div>