<div>
    <div class="row">
        <div class="col-md-12 dbui-page-header">
          <h3 class="page-title">Welcome to the Noonian DBUI!</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-offset-1 col-md-8 ">
            <div class="dbui-panel">
                <p>If you're reading this, you can celebrate a succssful installation of Noonian!  </p>
                <p>This is the default home page, which is a DBUI Custom Page (<a href ui-sref="dbui.edit({className:'DbuiCustomPage',id:'wGwX2SpXRjWE7iLAAQkROQ',perspective:'default'})">editable here</a>, also accessible via the sidebar menu: <strong>DBUI Customization</strong> <i class="fa fa-arrow-right"></i> <strong>Custom Pages</strong>)</p>
                <p>You can get back to this "home" screen by clicking the title in the upper-left hand corner of the Nav bar above.  You can change this behavior by modifying the configuration parameter <a href ui-sref="dbui.edit({className:'Config',id:'CMHfC8YPTO6sEeNhLZmTVA',perspective:'non_perspectives'})"><strong>dbui.homeAction</strong></a></p>
                <p>Documentation can be found on the <a href="https://gitlab.com/ChiweenieDijon/noonian/wikis/home" target="_blank">Gitlab Wiki</a></p>
                <p>Issues can be reported on the <a href="https://gitlab.com/ChiweenieDijon/noonian/issues" target="_blank">Gitlab repository</a></p>
            </div>
        </div>
    </div>
    
</div>