<div>
    <div class="col-md-12 dbui-header">
      <h3>{{reportLabels._report_title}}</h3>
    </div>
    <div class="row"><div class="col-md-12 "><p>{{reportLabels._report_desc}}</p></div></div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" ng-if="inputObj && reportLabels">
            <dbui-object-editor the-object="inputObj" perspective="inputPerspective"></dbui-object-editor>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" ng-if="inputObj && reportLabels">
            <button class="btn btn-primary btn-block" ng-click="submit()" ng-disabled="waiting">Submit</button>
        </div>
    </div>
    <div class="row" ng-show="waiting">
        <div class="col-sm-12 text-center">
            <i ng-show="waiting" class="fa fa-spinner fa-spin fa-3x"></i>
        </div>
    </div>
    <div ng-if="resultObj" style="margin-top: 20px" class="dbui-panel">
        <div class="action-bar-upper" ng-show="resultActions.length">
            <button type="button" ng-repeat="action in resultActions" class="btn btn-action" ng-class="'action_'+action.id"  ng-click="invokeAction(action)" ng-hide="action.isHidden"><i class="fa fa-lg" ng-class="action.icon" ></i> {{ action.label }}</button>
        </div>
        
        <dbui-object-viewer the-object="resultObj" perspective="outputPerspective"></dbui-object-viewer> 
    </div>
    <div style="height:500px"></div>

</div>