<div ng-show="!centralObj" class="text-center" style="padding:10%"><i class="fa fa-spin fa-spinner fa-5x"></i></div>
<div ng-if="centralObj" class="dbui-pivot-page pivot-page-container">
    <a id="top"></a>
    <div class="col-md-12 dbui-header">
      <h3>{{ pageConfig.title }}</h3>
      <div ng-show="pageConfig.headerMessages.length" style="background-color:#EEE; border:2px inset; padding:4px; font-weight:bold">
        <div ng-repeat="msg in pageConfig.headerMessages" ng-class="msg.alert_class"><i ng-show="msg.icon" class="fa fa-2x" ng-class="msg.icon"  style="vertical-align:middle"></i> <a href ng-show="msg.action" ng-click="msgClicked(msg)">{{msg.text}}</a><span ng-hide="msg.action">{{msg.text}}</span></div>
      </div>
      
      <button class="btn btn-primary" ng-repeat="a in pageConfig.headerActions" ng-click="invokeAction(a)"><i ng-show="a.icon" class="fa" ng-class="a.icon"></i> {{a.label}}</button>
      
      <div  ng-if="extraTabs.length" style="display:inline-block">
           <div class="btn-group" uib-dropdown>
              <button type="button" class="btn btn-default" uib-dropdown-toggle>
                <span style="font-style:italic">More Tabs...</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li ng-repeat="t in extraTabs" role="menuitem"><a href ng-click="showExtraTab(t)">{{t.tabTitle}}</a></li>
              </ul>
            </div>
      </div>
      
      <button class="btn btn-danger btn-sm pull-right" ng-show="pageConfig.allowDelete && centralObj._id" ng-click="deleteCentralObj()"><i class="fa fa-times"></i> Delete {{centralClass}}</button>
    </div>
    
    <div class="alert-section" ng-if="pageConfig.showObjectAlerts">
        <dbui-object-alerts obj="centralObj"></dbui-object-alerts>
    </div>
    
    <uib-tabset class="tabset" active="tabStatus.activeTab" type="{{pageConfig.tabtype || 'pills'}}">
        <uib-tab ng-repeat="myTab in pageConfig.tabs" index="myTab.tabId" select="onTabChanged(myTab)" ng-show="!myTab.isHidden">
            <uib-tab-heading>
                <span ng-show="myTab.waiting"><i class="fa fa-spinner fa-spin"></i></span>
                <span style="font-weight:bold"  ng-class="{'text-danger':myTab.formStatus.isDirty}">{{myTab.tabTitle}}</span><span ng-show="myTab.hasBadge" class="badge">{{myTab.badge}}</span>
                <a href ng-show="myTab.allowClose || myTab.isExtra" class="btn btn-primary btn-xs" style="border-radius:50%;margin-left:10px" ng-click="closeTab(myTab)"><i class="fa fa-times"></i></a> 
            </uib-tab-heading>
            <div ng-if="myTab.templateUrl"  class="dbui-panel">
                <ng-include src="myTab.templateUrl"></ng-include>
            </div>
            <div ng-if="myTab.key">
                <dbui-pivot-page-tab central-obj="centralObj" page-config="pageConfig" my-tab="myTab" init-promise="initPromise"></dbui-pivot-page-tab>
            </div>
            <!-- TODO add support for edit, view, related lists -->
        </uib-tab>
    </uib-tabset>
    
</div>