<div ng-show="!theRole" class="text-center" style="padding:10%"><i class="fa fa-spin fa-spinner fa-5x"></i></div>
<div ng-if="theRole" class="pivot-page-container">
    <a id="top"></a>
    <div class="col-md-12 dbui-header">
      <h3>Role Summary: {{ theRole.name }} <small>{{theRole._id}}</small></h3>
      <!--<button class="btn btn-primary" ng-repeat="a in pageConfig.headerActions" ng-click="invokeAction(a)"><i ng-show="a.icon" class="fa" ng-class="a.icon"></i> {{a.label}}</button>-->
    </div>
    
    <uib-tabset>
        <uib-tab >
            <uib-tab-heading>
                <span style="font-weight:bold">Data Access</span>
            </uib-tab-heading>
            <div class="dbui-panel">
                <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>Summary</th>
                        <th>Read</th>
                        <th>Create</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="s in dacSummary">
                        <td>{{ s.className }}</td>
                        <td>{{ s.summary }}</td>
                        <td ng-class="accessCss[s.read]" ng-click="showDac(s.dacs.read)"><i class="fa fa-check" ng-show="s.read" uib-tooltip="{{s.dacs.read.name}}"></i></td>
                        
                        <td ng-class="accessCss[s.create]" ng-click="showDac(s.dacs.create)"><i class="fa fa-check" ng-show="s.create" uib-tooltip="{{s.dacs.create.name}}"></i></td>
                        
                        <td ng-class="accessCss[s.update]" ng-click="showDac(s.dacs.update)"><i class="fa fa-check" ng-show="s.update" uib-tooltip="{{s.dacs.update.name}}"></i></td>
                        
                        <td ng-class="accessCss[s.delete]" ng-click="showDac(s.dacs.delete)"><i class="fa fa-check" ng-show="s.delete" uib-tooltip="{{s.dacs.delete.name}}"></i></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </uib-tab>
        <uib-tab ng-repeat="t in tabs" >
            <uib-tab-heading>
                <span style="font-weight:bold">{{t.title}}</span>  <span class="badge">{{t.count}}</span>
            </uib-tab-heading>
            <div class="dbui-panel">
                <dbui-business-object-browser bo-class="t.class" perspective="t.perspective" enable-search="true" enable-query="false"></dbui-business-object-browser>
            </div>
        </uib-tab>
    </uib-tabset>
    
</div>