<div class="modal-header">
    <h4 class="modal-title">Confirm Uninstall: {{pkg.key}}</h4>
    
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div><strong>Uninstalling:</strong>
            <ul>
                <li>{{precheck.unmodified}} unmodified objects</li>
                <li>{{modifiedCount}} modified objects</li>
                <li>{{otherCount}} "owned" objects:
                    <ul>
                        <li ng-repeat="o in otherList">{{o.idList.length}} {{o.className}}</li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="precheck.keepData"> Retain data for BusinessObect classes owned by this package.
                </label>
                <span class="help-block">If checked, the uninstallation will leave collections in MongoDB that correspond to BusinessObjectDefs owned by {{pkg.key}}.  The records will be inaccessible within Noonian (until the package is reinstalled), but will continue to be accessible via a Mongo client or mongodump.</span>
            </div>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$close()">UNINSTALL {{pkg.key}}</button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>