<div>
    <table class="table table-striped table-hover shrink-wrap">
        
        <thead>
          <tr>
            <th>Key</th>
            <th>Name</th>
            <th>Installed Version</th>
            <th>Source Repo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pkg in localStatus.installed" ng-class="{warning:(pkg.repo_version_diff > 0)}">
    
              <td>{{pkg.key}} <i class="fab fa-lg fa-dev" ng-show="pkg.build_cfg"></i></td>
              <td>{{pkg.name}}</td>
              <td>{{pkg.version}}</td>
              <td>
                <span>{{pkg.repo.name}} </span>
                <button class="btn btn-danger" ng-show="pkg.repo_version_diff > 0" ng-click="upgrade(pkg)"><i class="fa fa-exclamation-triangle"></i> Update: {{pkg.repo_version}}</button>
              </td>
              <td>
                  <button class="btn btn-default btn-sm" ng-click="edit(pkg)"><i class="fa fa-edit"></i> Edit</button>
                  <button class="btn btn-info btn-sm" ng-click="manifest(pkg)"><i class="fa fa-eye"></i> Manifest</button>
                  <button class="btn btn-danger btn-sm" ng-hide="pkg.key=='sys'" ng-click="uninstall(pkg)"><i class="fa fa-times"></i> Uninstall</button>
              </td>
            </tr>
        </tbody>
    </table>
</div>