  <p class="input-group">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="togglePicker()"><i class="fas fa-calendar"></i></button>
    </span>
    <input type="text" id="{{elemId}}" placeholder="(empty)" class="form-control" uib-datepicker-popup="{{displayFormat}}" ng-model="binding.value" is-open="pickerOpen" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altFormats" />
  </p>