<div class="dbui-object-alert-list"  ng-show="alertList.length">
    <div ng-repeat="alert in alertList" class="alert alert-{{alert.style_class || 'info'}}" >
        <div>
            <span class="alert-msg">{{alert.message}}</span>
            <span><button ng-repeat="action in alert.actionList" class="btn" ng-class="action.disp_class||'btn-default'" ng-click="invokeAction(action)" uib-tooltip="{{action.tooltip}}"><i class="fas" ng-class="action.icon" ></i> {{ action.label }}</button></span>
        </div>
    </div>
</div>