<div ng-controller="ctrl_PackageDev" >
    <div ng-show="creating"><i class="fa fa-spinner fa-spin"></i> Creating {{newPackage.key}}...</div>
    <div ng-show="loadingPkg"><i class="fa fa-spinner fa-spin"></i> Loading {{loadingPkg}} from filesystem...</div>
    <div ng-hide="newPackage || loadingPkg">
        <div class="dbui-panel-heading">
                <button class="btn btn-default" ng-click="newDev()">New Package</button>
        </div>
        <div class="row" ng-hide="localStatus.dev.length">
            <div class="col-sm-12">
                <div class="alert alert-info">No packages in development on this instance.</div>
            </div>
        </div>
        <div class="row" ng-show="localStatus.localDirs.length">
            <div class="col-sm-12">
                <div class="alert alert-warning">Dev packages were found in instance directory.
                    <ul>
                        <li ng-repeat="ld in localStatus.localDirs">
                            <strong>{{ld.name || ld.key}} v{{ld.version}}</strong> (in subdirectory "{{ld.subdirectory}}")
                            <button class="btn btn-default" ng-click="loadDev(ld)">Load {{ld.key}} into instance</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover shrink-wrap" ng-if="localStatus.dev.length">
            
            <thead>
              <tr>
                <th>Key</th>
                <th>Name</th>
                <th>Current Version</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pkg in localStatus.dev" ng-class="{warning:(pkg.repo_version_diff > 0)}">
        
                  <td>{{pkg.key}}</td>
                  <td>{{pkg.name}}</td>
                  <td>{{pkg.version}}</td>
                  <td>
                      <button class="btn btn-default" ng-click="build(pkg)"><i class="fa fa-box-open"></i> Build</button>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="newPackage" ng-hide="creating">
        <h4>New Package...</h4>
        <dbui-object-editor the-object="newPackage" perspective="pkgPerspective"></dbui-object-editor>
        <div class="dbui-panel-footer">
            <button class="btn btn-danger" ng-click="createPkg()"><i class="fa fa-bolt"></i> Create</button>
        </div>
    </div>
</div>