<div class="row" ng-if="!theObject">
    <div class="col-md-6 col-md-offset-3">
        <div class="dbui-panel">
            {{boClass}} with id {{boId}} not found in database.
        </div>
    </div>
</div>
<div class="dbui-page-header" ng-if="theObject">
    <div class="page-title">
        <span ng-show="editPerspective.title">{{editPerspective.title}}</span>
        <span ng-show="!editPerspective.title && boId">Edit {{labels[boClass] || boClass}} <span class="subtitle" uib-tooltip="{{theObject.__ver}}" tooltip-placement="bottom-right">{{theObject._disp}}</span></span>
		<span ng-if="!editPerspective.title && !boId">New {{labels[boClass] || boClass}}</span>
		
    </div>
    <div class="alert-section" ng-if="editPerspective.showObjectAlerts">
        <dbui-object-alerts obj="theObject"></dbui-object-alerts>
    </div>
    <div class="action-row">
        <button type="button" ng-repeat="action in actionList" class="btn" ng-class="(action.disp_class||'btn-default')+' '+('action_'+action.id)" ng-click="invokeAction(action)"><i class="fas" ng-class="action.icon" ></i> {{ action.label }}</button>
        <span class="meta-edit" ng-if="editPerspective.allowEditLayout"><button class="btn btn-link" ng-click="editLayout()" uib-tooltip="Edit Layout"><i class="fa fa-lg fa-cog"></i></button></span>
    </div>
</div>
  
<div class="row" ng-if="theObject">
    <div class="col-xs-12">
        <div class="dbui-panel" ng-class="{'save-warn':(formStatus.isDirty)}">
            <div class="dbui-panel-heading" ng-show="recordActionList.length > 0">
              <button type="button" ng-repeat="action in recordActionList" class="btn" ng-class="(action.disp_class||'btn-default')+' '+('action_'+action.id)" ng-click="invokeAction(action)" ng-hide="action.isHidden"><i class="fa fa-lg" ng-class="action.icon" ></i> {{ action.label }}</button>
            </div>
            
            <dbui-object-editor ng-if="!refreshing" the-object="theObject" perspective="editPerspective" form-status="theObject._formStatus"></dbui-object-editor>
            
            <!--<div class="dbui-panel-footer" ng-class="{'save-warn':(formStatus.isDirty)}" ng-show="recordActionList.length > 0">-->
            <!--  <button type="button" ng-repeat="action in recordActionList" class="btn"  ng-class="(action.disp_class||'btn-default')+' '+('action_'+action.id)" ng-click="invokeAction(action)" ng-hide="action.isHidden"><i class="fa fa-lg" ng-class="action.icon" ></i> {{ action.label }}</button>-->
            <!--</div>-->
        </div>
    </div>
</div>

<div class="row" ng-if="theObject._id && editPerspective.related">
    <div class="col-xs-12">
        
        <dbui-related-viewer class="related-viewer-panel" the-object="theObject" perspective-name="editPerspective.name" related-spec="editPerspective.related"></dbui-related-viewer>
        
    </div>
</div>

