<div class="dbui-page-header">
    <div class="page-title">
        <span ng-hide="folderPerspective.title">{{labels[boClass] || boClass}} List </span>
        <span ng-show="folderPerspective.title">{{folderPerspective.title}}</span>
    </div>
    <div class="action-row">
        <button type="button" ng-repeat="action in actionList" class="btn" ng-class="action.disp_class||'btn-default'" ng-click="invokeAction(action)"><i class="fas" ng-class="action.icon" ></i> {{ action.label }}</button>
    </div>
</div>

<dbui-object-tree bo-class="boClass" perspective="folderPerspective"></dbui-object-tree>

