<div class="modal-header">
    <h4 class="modal-title">Generate Package: {{pkg.key}}
    </h4>
    
</div>
<div class="modal-body">
    <div class="row" style="border-bottom:1px solid #e5e5e5;padding-bottom:15px;margin-bottom:15px">
        <div class="col-sm-12">
            <div>Current Version: <strong>{{pkg.version}}</strong></div>
            <div>Generating Version: <strong>{{genVersion}}</strong></div>
        </div>
    </div>
    <form>
        <div class="form-group">
            <label name="verInc">Release Type</label>
            <div class="radio">
                <label>
                    <input type="radio" name="verInc" id="verInc1" value="major" ng-model="params.inc">Major
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="verInc" id="verInc2" value="minor" ng-model="params.inc">Minor
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="verInc" id="verInc3" value="patch" ng-model="params.inc">Patch
                </label>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="prerelease" id="prerelease" ng-model="params.prerelease">Pre-release
            </label>
        </div>
        <div class="form-group">
            <label for="meta">Version Metadata</label>
            <input type="text" class="form-control" id="meta" ng-model="params.meta">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="generate()">Generate {{genVersion}}</button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>