<div ng-controller="ctrl_PackageInstall" class="inner-tabs">
    <span ng-show="waiting"><i class="fa fa-2x fa-spinner fa-pulse"></i> {{waiting}}</span>
    <div ng-show="!checkResult && !waiting">
        <uib-tabset active="0">
            <uib-tab ng-repeat="rmt in remoteList" heading="{{rmt.repo.name}}" index="$index">
                 <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Version</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pkg in rmt.metadata" ng-class="{danger:(pkg.status=='upgrade')}" >
                            <td ng-hide="pkg.status == 'installed'"><a href ng-click="checkPkg(rmt, pkg)" uib-tooltip="{{pkg.status == 'upgrade' ? 'Upgrade' : 'Install'}} {{pkg.key}}.">{{pkg.name}} ({{pkg.key}})</a></td>
                            <td ng-show="pkg.status == 'installed'">{{pkg.name}} ({{pkg.key}}) [installed]</td>
                            <td>{{pkg.version}}</td>
                            <td>{{pkg.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </uib-tab>
            
            <uib-tab heading="Upload File" index="remoteList.length + 1">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="pkgFile">Package File</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="file" id="pkgFile" accept=".json" onchange="angular.element(this).scope().fileChanged(this)">
                            <p class="help-block">Select the file to upload for install on this Noonian instance.</p>
                        </div>
                    </div>
                    
                    <!--<button class="btn btn-default" ng-disabled="!fileObj" ng-click="uploadFile()">Upload File</button>-->
                </form>
            </uib-tab>
        </uib-tabset>
    </div>
    <div ng-show="checkResult && !checkResult.error && !installResult && !waiting">
        
        <h4>{{checkResult.name}} ({{checkResult.key}}) </h4>
        <div class="form-horizontal" style="padding:10px;">
            <div class="row">
                <div class="col-md-12">
                    <p>{{checkResult.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Version</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{checkResult.target_version}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" ng-show="checkResult.installed_version">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Installed Version</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">{{checkResult.installed_version}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default" ng-show="anyDependencies">
            <div class="panel-heading">
                <h3 class="panel-title">Dependencies</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger" ng-show="missingRepos.length">
                    <p>Unable to locate any source for the following noonian dependencies: <span ng-repeat="mr in missingRepos">{{mr}}{{$last ? '.' : ', '}}</span></p>
                    <p>Please install separately, or add a RemotePackageRepository for the host and try again.</p>
                </div>
                <div class="alert alert-info">
                    <p>The following are the required NPM, Bower, and Noonian packages required by <strong>{{checkResult.key}}</strong>.  These lists includes dependencies <i>of</i> dependencies.</p>
                    <p>All packages not already installed will be automatically installed. </p>
                    <p><span style="font-size:140%">*</span>NOTE: The system will NOT automatically upgrade NPM and Bower packages that are already installed but are of an incompatible version.</p>
                </div>
                <table class="table table-bordered table-striped" ng-show="checkResult.dependency_resolution.npm">
                    <thead>
                        <tr><th colspan="4">NPM</th></tr>
                        <tr>
                            <th>Package</th>
                            <th>Version</th>
                            <th>Installed Version</th>
                            <th>Dependency of</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in checkResult.dependency_resolution.npm.to_install">
                            <td style="font-weight:bold"><a href="https://www.npmjs.com/package/{{d.package}}" target="_blank">{{d.package}}</a></td> 
                            <td>{{d.version}}</td>
                            <td><i>n/a</i></td>
                            <td>{{d.dependency_of}}</td>
                        </tr>
                        <tr class="warning" ng-repeat="d in checkResult.dependency_resolution.npm.to_upgrade">
                            <td style="font-weight:bold"><a href="https://www.npmjs.com/package/{{d.package}}" target="_blank">{{d.package}}</a><span style="font-size:140%">*</span></td> 
                            <td>{{d.version}}</td>
                            <td>{{d.installed_version}}</td>
                            <td>{{d.dependency_of}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <table class="table table-bordered" ng-show="checkResult.dependency_resolution.bower">
                    <thead>
                        <tr><th colspan="4">Bower</th></tr>
                        <tr>
                            <th>Package</th>
                            <th>Version</th>
                            <th>Installed Version</th>
                            <th>Dependency of</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in checkResult.dependency_resolution.bower.to_install">
                            <td style="font-weight:bold"><a href="https://bower.io/search/?q={{d.package}}" target="_blank">{{d.package}}</a></td> 
                            <td>{{d.version}}</td>
                            <td><i>n/a</i></td>
                            <td>{{d.dependency_of}}</td>
                        </tr>
                        <tr class="warning" ng-repeat="d in checkResult.dependency_resolution.bower.to_upgrade">
                            <td style="font-weight:bold"><a href="https://bower.io/search/?q={{d.package}}" target="_blank">{{d.package}}</a></td> 
                            <td>{{d.version}}</td>
                            <td>{{d.installed_version}}</td>
                            <td>{{d.dependency_of}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <table class="table table-bordered" ng-show="checkResult.dependency_resolution.noonian">
                    <thead>
                        <tr><th colspan="5">Noonian</th></tr>
                        <tr>
                            <th>Package</th>
                            <th>Version</th>
                            <th>Installed Version</th>
                            <th>Dependency of</th>
                            <th>Repository</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in checkResult.dependency_resolution.noonian.to_install" ng-class="{danger:(!d.repository)}">
                            <td style="font-weight:bold">{{d.package}}</td> 
                            <td>{{d.version}}</td>
                            <td><i>n/a</i></td>
                            <td>{{d.dependency_of}}</td>
                            <td><span ng-show="d.repository">{{d.repository.name}}</span><span ng-hide="d.repository">Not found in any repository</span></td>
                        </tr>
                        <tr ng-repeat="d in checkResult.dependency_resolution.noonian.to_upgrade" ng-class="{danger:(!d.repository)}">
                            <td style="font-weight:bold">{{d.package}}</td> 
                            <td>{{d.version}}</td>
                            <td>{{d.installed_version}}</td>
                            <td>{{d.dependency_of}}</td>
                            <td>{{d.repository.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> <!-- end dpeendencies panel -->
        
        <div  class="panel panel-default" ng-repeat="up in userParams">
            <div class="panel-heading">
                <h3 class="panel-title">Parameters for {{up.package_key}}</h3>
            </div>
            <div class="panel-body">
                <dbui-object-editor the-object="up.paramsObj" perspective="up.perspective" form-status="up.formStatus"></dbui-object-editor>
            </div>
        </div>

        <div class="row" ng-show="!checkResult.error">
            <div class="col-md-12">
                <button class="btn btn-block btn-danger" ng-disabled="!installReady" ng-click="install()">Install</button>
            </div>
        </div>
    </div>
    <div ng-show="installResult">
        <div ng-show="installResult.result === 'error'">
            <div  class="alert alert-danger">Failed to install {{installResult.metaObj.key}} version {{installResult.metaObj.version}}</div>
            <div class="alert alert-danger">{{installResult.error_msg}}</div>
        </div>
        
        <div ng-show="installResult.result === 'success'">
            <div  class="alert alert-success">Successfully installed {{installResult.metaObj.key}} version {{installResult.metaObj.version}}</div>
            
            <div class="panel panel-default" ng-show="installResult.functionResults.post">
                <div class="panel-heading">
                    <h3 class="panel-title">Post-Install</h3>
                </div>
                <div class="panel-body">
                    <p ng-show="installResult.functionResults.post.error" class="alert alert-danger">{{installResult.functionResults.post.error_msg}}</p>
                    <p ng-show="installResult.functionResults.post.message" class="alert" ng-class="installResult.functionResults.post.alert_level || 'alert-info'">{{installResult.functionResults.post.message}}</p>
                </div>
            </div>
            <div class="panel panel-default" ng-show="anyDependencies">
                <div class="panel-heading">
                    <h3 class="panel-title">Dependency Installation</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning" ng-show="anyError">
                        <p>One or more NPM or Bower dependencies failed to install.  Review the list below, and resolve the issues at the command line.</p>
                    </div>
                     <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Status</th>
                                <th>Package</th>
                                <th>Dependency of</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in installResult.dependencyResults.bower" ng-class="{danger:(d.result==='error'), success:(d.result==='success')}">
                                <td style="font-size:80%">Bower</td>
                                <td><span ng-show="d.result==='error'">NOT INSTALLED</span><span ng-show="d.result==='success'">Installed</span></td>
                                <td>{{d.dependency.package}} {{d.dependency.version}}</td>
                                <td>{{d.dependency.dependency_of}}</td>
                                <td>{{d.call_result.stderr}}</td>
                            </tr>
                            <tr ng-repeat="d in installResult.dependencyResults.npm" ng-class="{danger:(d.result==='error'), success:(d.result==='success')}">
                                <td style="font-size:80%">NPM</td>
                                <td><span ng-show="d.result==='error'">NOT INSTALLED</span><span ng-show="d.result==='success'">Installed</span></td>
                                <td>{{d.dependency.package}} {{d.dependency.version}}</td>
                                <td>{{d.dependency.dependency_of}}</td>
                                <td>{{d.call_result.stderr}}</td>
                            </tr>
                            <tr ng-repeat="d in installResult.dependencyResults.noonian" class="success">
                                <td style="font-size:80%">Noonian</td>
                                <td>Installed</td>
                                <td>{{d.dependency.package}} {{d.dependency.version}}</td>
                                <td>{{d.dependency.dependency_of}}</td>
                                <td ng-hide="d.install_result.functionResults.post.error" ng-class="d.install_result.functionResults.post.alert_level">{{d.install_result.functionResults.post.message}}</td>
                                <td ng-show="d.install_result.functionResults.post.error" class="danger">{{d.install_result.functionResults.post.error_msg}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-block btn-success" ng-click="clear()">Dismiss</button>
                </div>
            </div>
        </div>

    </div>
    <div class="alert alert-danger" ng-show="attemptResult.error">
        <p><span style="font-weight:bold">Error:</span> {{attemptResult.error_msg || attemptResult.error}}</p>
        <button class="btn btn-default" ng-click="clear()">Go Back</button>
    </div>
    
</div>