<div>
  <div class="modal-header">
    <h3 class="modal-title">{{title}} <small>Perspective: {{perspectiveObj.name}}</small></h3>
  </div>
  <div class="modal-body">
    <div class="row" ng-hide="showingSaveDialog">
      <div class="col-sm-6">
        <div class="picker-list-title">Available Fields</div>
        <div class="list-group basic-picker-list">

          <div class="list-group-item" ng-repeat="fi in availableFields" ng-hide="fi.included" ng-click="addField(fi)">
            {{fi.fieldLabel}}
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="picker-list-title">Displayed Fields</div>
        <div class="list-group basic-picker-list">
          <div class="list-group-item" ng-repeat="fieldName in fieldList" ng-class="{'selected-item':selectedForMove($index)}" ng-click="selectForMove($index)">

            <span>{{getFieldLabel(fieldName)}}</span>
            <button class="btn btn-xs btn-warning btn-remove-item pull-right" ng-click="remove($index)"> <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary" ng-click="moveUp()" ng-disabled="!canMoveUp()"> <i class="fa fa-arrow-up"></i></button>
          <button class="btn btn-primary" ng-click="moveDown()" ng-disabled="!canMoveDown()"> <i class="fa fa-arrow-down"></i></button>
        </div>
      </div>
    </div>
    <div class="row" ng-show="showingSaveDialog">
        <div class="col-sm-10 col-sm-offset-1">
            <form class="form-inline">
            <div class="form-group">
                <label for="perspectiveName">Perspective Name</label>
                <input id="perspectiveName" type="text" class="form-control" ng-model="newPerspectiveName">
            </div>
            <button type="button" class="btn btn-warning" ng-click="saveAs(true)" ng-disabled="!newPerspectiveName">Save Perspective</button>
            <button type="button" class="btn btn-default" ng-click="showingSaveDialog = false">Cancel</button>
            </form>
        </div>
    </div>
    
  </div>
  <div class="modal-footer" ng-hide="showingSaveDialog">
    <button class="btn btn-danger" type="button" ng-click="saveCustom()" ng-show="allowCustomSave">Save Customization</button>
    <div class="btn-group" uib-dropdown ng-show="allowAdminSave">
        <button class="btn btn-danger" type="button" uib-dropdown-toggle>Save <span class="caret"></span></button>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a href ng-click="save()">Save <strong>{{perspectiveObj.name}}</strong> </a></li>
            <li class="divider"></li>
            <li><a href ng-click="saveAs()">Save as another perspective...</a></li>
        </ul>
    </div>
    
    <button class="btn btn-success" type="button" ng-click="$close()">Done</button>
</div>
</div>
