<div class="dbui-page-header">
    <div class="page-title"><span ng-hide="listPerspective.title">{{labels[boClass] || boClass}} List </span>
      <span ng-show="listPerspective.title">{{listPerspective.title}}</span></div>
    <div class="action-row">
        <button type="button" ng-repeat="action in actionList" class="btn" ng-class="action.disp_class||'btn-default'" ng-click="invokeAction(action)"><i class="fas" ng-class="action.icon" ></i> {{ action.label }}</button>
    </div>
</div>

<dbui-business-object-browser bo-class="boClass" perspective="listPerspective" enable-query="true" enable-search="true" ></dbui-business-object-browser>




