<div class="modal-header">
    <h4 class="modal-title">Manifest: {{pkg.key}}
    <button class="btn btn-default pull-right" ng-click="$close()"><i class="fa fa-times"></i></button></h4>
</div>
<div class="modal-body">
    <span ng-hide="objectMap"><i class="fa fa-2x fa-spinner fa-pulse"></i> {{waiting}}</span>
    
    <div class="row" ng-if="objectMap">
        <div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Disp</th>
                        <th>ID</th>
                        <th>Version in package</th>
                        <th>Installed version</th>
                    </tr>
                </thead>
                <tbody ng-repeat="c in classes">
                    <tr><td colspan="7"><h4>{{c}}<small> ({{objectMap[c].length}} Objects)</small></h4></td></tr>
                    <tr ng-repeat="obj in objectMap[c]" ng-class="{warning:(obj.manifestVersion != obj.currentVersion)}">
                        <td style="max-width:200px;overflow:auto">{{ obj.display }}</td>
                        <td><a href ng-click="showRecord(c, obj._id)">{{ obj._id }}</a></td>
                        <td>{{ obj.manifestVersion }}</td>
                        <td>{{ obj.currentVersion }}</td>
                    </tr>
                </tbody>
            </table>
                    
        </div>
    </div>
</div>