<nav class="navbar navbar-dbui" ng-controller="dbui_NavbarCtrl">
        <div class="container-fluid">
            
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="layoutStatus.navCollapsed = !layoutStatus.navCollapsed">
                    <i class="fa fa-bars"></i>
                </button>
                <a  ui-sref="dbui.home" class="navbar-brand" on-right-click="appTitleRightClick()">
                    <img ng-if="logoImage" ng-src="logoImage.src" alt="logo" />
                    <div ng-if="!logoImage">{{appTitle}}</div>
                </a>
            </div>
            
            
            
            <div class="collapse nav-collapse" uib-collapse="layoutStatus.navCollapsed">
                
                <ul class="nav navbar-nav navbar-menu" id="navbar-lefthand-menu" ng-if="lefthandMenu.length">
                    
                    <li ng-repeat="item in lefthandMenu" ng-class="{'dropdown':item.submenu,'active':item.isActive}" ng-hide="item.isHidden">
                        <a ng-if="item.action" href class="outer-menu-item" ng-click="invokeAction(item.action)"><i ng-show="item.icon" class="fas fa-lg fa-fw" ng-class="item.icon"></i> {{item.label}}</a>
                    
                        <a ng-if="item.submenu" href class="outer-submenu-header" ng-click="toggleSubmenu($event, item)"><i ng-show="item.icon" class="fas fa-lg" ng-class="item.icon"></i> {{item.label}}</a>
                        
                        <div ng-if="item.submenu" uib-dropdown is-open="item.isOpen" auto-close="disabled">
                            <ul class="dropdown-menu" uib-dropdown-menu>
                                <li ng-repeat="subItem in item.submenu" ng-class="{'divider':subItem.isDivider}">
                                    <a href class="outer-submenu-item" ng-if="subItem.action" ng-click="invokeAction(subItem.action)"><i ng-class="subItem.icon"></i> {{subItem.label}}</a>
                                    <a href class="inner-submenu-header" ng-if="subItem.submenu" ng-click="subItem.isOpen=!subItem.isOpen">{{subItem.label}}</a>
                                    <a href class="inner-submenu-item" ng-if="subItem.submenu" ng-show="subItem.isOpen" ng-repeat="subsubItem in subItem.submenu" ng-click="invokeAction(subsubItem.action)"><i ng-class="subsubItem.icon"></i> {{subsubItem.label}}</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
                
                <script type="text/ng-template" id="alertPopoverTemplate.html">
                    <div class="list-group">
                        <button type="button" class="list-group-item" ng-class="'list-group-item-'+alert.type" ng-click="closeDbuiAlert(alert)" ng-repeat="alert in alertMenu.alerts">
                            <b>{{alert.msg}}</b>
                        </button>
                    </div>
                    <div ng-show="alertMenu.alerts.length > 1">
                        <button ng-click="dismissDbuiAlerts()" class="btn btn-sm btn-primary pull-right"><i class="fa fa-close"></i> <i>Dismiss All</i></button>
                    </div>
                </script>
                
                <ul class="nav navbar-nav navbar-menu navbar-right">
                    <li><a href
                        uib-popover-template="'alertPopoverTemplate.html'"
                        popover-is-open="alertMenu.isOpen"
                        popover-enable="alertMenu.alerts.length"
                        popover-placement="bottom-right"
                        popover-class="alert-popover"
                        popover-append-to-body="true"
                        ng-class="{disabled:!alertMenu.alerts.length}"
                        ><i class="fas fa-lg fa-bell"></i><span class="badge">{{alertMenu.alerts.length || ''}}</span>
                        </a>
                    </li>
                    
                    <li uib-dropdown class="dropdown" >
                        <a href class="dropdown-toggle" uib-dropdown-toggle>{{currentUser.name}} <i class="user-icon fas fa-lg fa-user-circle fa-fw"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href ng-click="userProfile()">User Profile</a></li>
                            <li class="divider"></li>
                            <li><a href ng-click="logout()"><i class="fas fa-sign-out"></i> Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- end collapse div -->
            
            
        </div>
    </nav>