<query-builder-panel ng-if="enableSearch && enableQuery && perspective.isAdvancedSearch" bo-class="boClass" perspective="perspective" on-clear="querybuilderClosed()" apply-callback="execSearch()"></query-builder-panel>

<div class="row">
<div class="col-xs-12 dbui-panel">
    <div class="row" ng-if="enableSearch">
        <div class="col-xs-6">
            <div ng-if="enableSearch"> 
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-disabled="!perspective.searchString" ng-click="clearTextSearch()"><i class="fas fa-lg fa-times"></i></button>
                  </span>
                  <span class="input-group-btn">
                    <button type="button" id="searchbox-submit" class="btn btn-default" ng-click="execSearch()" uib-tooltip="Apply Text Search"><i class="fa fa-lg fa-search"></i></button>
                  </span>
                  
                  <input type="text" id="searchBox" class="form-control" autocomplete="off" placeholder="text search" ng-model="perspective.searchString" ng-change="searchStringChanged()" ng-keypress="keyPressed($event)" />
                  <span class="input-group-btn">
                    <button type="button" id="enable-regex" class="btn btn-default" ng-click="toggleRegex()" uib-tooltip="Regex Search" ng-class="{active:(perspective.searchRegex)}"><i class="fa fa-code"></i></button>
                  </span>
                  <div class="input-group-btn" uib-dropdown ng-show="perspective.savedQueries && !perspective.isAdvancedSearch">
                    <button type="button" class="btn btn-default" uib-dropdown-toggle uib-tooltip="Restore a saved query"><i class="fa fa-folder-open"></i></button>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ng-repeat="sq in perspective.savedQueries"><a href ng-click="loadQuery(sq.query)">{{sq.title}}</a></li>
                    </ul>
                  </div>
                </div>
                <a href class="pull-right" ng-if="enableQuery" ng-click="toggleAdvancedSearch()" ng-hide="perspective.isAdvancedSearch">advanced query...</a>
            </div>
      </div>
      
      
      <div class="col-xs-offset-2 col-xs-4 form-inline">
          <div class="form-group pull-right">
          Show <select class="form-control" ng-model="pageState.pageSize" ng-change="execSearch()" ng-options="num for num in pageSizes"></select> per page</div>
      </div>
  </div>
  
  <div class="row" style="border-top: 1px solid #eef1f5;
    margin-top: 10px;
    padding-top: 4px">
      <div class="col-xs-12 text-center">
          <div ng-show="filterDescription">Filter: <strong>{{filterDescription}}</strong></div>
          <span ng-show="dataLoading"><i class="fa fa-spinner fa-pulse"></i> loading...</span><span ng-show="!dataLoading"><strong>{{pageState.totalRecords}} records total</strong> <span ng-show="pageState.totalPages > 1"> (Showing {{pageState.rangeStart}} to {{pageState.rangeEnd}})</span></span>
      </div>
  </div>
  
  <!-- actual table data -->
  <dbui-object-table ng-model="dataArray" object-meta-data="objectMetaData" perspective="perspective" config="objectTableConfig"></dbui-object-table>

  
  

  <div class="row" >
    <div class="col-xs-12 text-center">
      <span ng-show="dataLoading"><i class="fa fa-spinner fa-pulse"></i> loading...</span><span ng-show="!dataLoading"><strong>{{pageState.totalRecords}} records total</strong> <span ng-show="pageState.totalPages > 1"> (Showing {{pageState.rangeStart}} to {{pageState.rangeEnd}})</span></span>
    </div>
  </div>

  <div ng-show="pageState.totalPages > 1" class="row">
    <div class="col-xs-12 text-center">
      <ul uib-pagination ng-model="pageState.current" ng-change="pageChanged()" class="pagination-sm" boundary-links="true"
        total-items="pageState.totalRecords" items-per-page="pageState.pageSize" max-size="10"
        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
      </ul>
    </div>
  </div>

</div>
</div>
