<div>

  <div class="row dbui-table-data">
    <div class="col-xs-12">

      <table class="table table-striped table-hover" ng-class="{'shrink-wrap':(!config.noShrinkWrap)}">
        
        <thead>
          <tr>
            <th ng-if="multiSelectEnabled">
              <a href id="multiselect-button" ng-click="multiSelectAll()"><i class="far fa-2x" ng-class="{'fa-minus-square':(anySelected && !allSelected), 'fa-check-square':(allSelected), 'fa-square':(!allSelected && !anySelected)}"></i></a>
            </th>
            <th style="text-align:center" ng-if="tableActions.length || recordActions.length">
              <span ng-if="tableActions.length" uib-dropdown dropdown-append-to-body="true">
                <a href id="cog-button" uib-dropdown-toggle ><i class="fa fa-2x fa-cog"></i></a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="cog-button">
                  <li role="menuitem" ng-repeat="action in tableActions"><a href ng-click="invokeTableAction(action)" ng-class="'action_'+action.id"> <i ng-if="action.icon" ng-class="action.icon" class="fa"></i> {{action.label}}</a></li>
                  <li ng-show="multiActions.length" role="separator" class="divider"></li>
                  <li role="menuitem" ng-repeat="action in multiActions" ng-class="{disabled:(!anySelected)}"><a href ng-click="invokeMultiAction(action)" ng-class="'action_'+action.id" ng-disabled="!anySelected"> <i ng-if="action.icon" ng-class="action.icon" class="fa"></i> {{action.label}}</a></li>

                </ul>
              </span>
            </th>
            <th ng-repeat="f in perspective.fields">
              <a href="" ng-class="'colheader_'+f" ng-if="allowSort" ng-click="colHeaderClick($event, f)" on-right-click="colHeaderRightClick($event, f)">{{getFieldLabel(f)}}  &nbsp; <i class="fa fa-sm" ng-class="columnDecorations[f]"></i></a>
              <span ng-if="!allowSort">{{getFieldLabel(f)}}  &nbsp; <i class="fa fa-sm" ng-class="columnDecorations[f]"></i></span>
            </th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dataObj in objectArray" id="tablerow_{{dataObj._id}}"  ng-class="{info:(selectedRecords[dataObj._id])}">
              <td ng-if="multiSelectEnabled">
                  <fa-checkbox bind-value="selectedRecords[dataObj._id]"></fa-checkbox>
              </td>
              <td class="text-center tablecell_actions" ng-if="recordActions.length">
                  <div class="action-row">
                <span ng-repeat="action in recordActions">
                  <a href="" class="datatable_btn" ng-class="'action_'+action.id" ng-click="invokeRecordAction(dataObj, action, $parent.$index)"><i ng-class="action.icon" class="fas fa-2x"></i></a>
                </span>
                </div>
              </td>

              <td ng-repeat="field in perspective.fields" ng-class="'tablecell_'+field">
                <dbui-field-viewer ng-if="!allowEdit(field) || !(editing(dataObj, field) || getValue(dataObj, field) == null)" type-desc="getTypeDesc(field)"  display-value="getValue(dataObj, field)" abbreviated="true" field-customizations="perspective.fieldCustomizations[field]" ng-click="cellClicked(dataObj, field)"></dbui-field-viewer>
                <div class="text-center" ng-if="allowEdit(field) && !editing(dataObj, field) && getValue(dataObj, field) == null">
                  <a href="" class="datatable_btn" ng-click="cellClicked(dataObj, field)"><i class="fa fa-2x fa-edit"></i></a>
                </div>
                <dbui-field-editor ng-if="allowEdit(field) && editing(dataObj, field)" type-desc="getTypeDesc(field)" ng-model="dataObj[field]" field-customizations="perspective.fieldCustomizations[fieldName]"></dbui-field-editor>
              </td>

            </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
