<div ng-form="editorForm">
<div ng-repeat="sec in perspective.layout" class="dbui-subsection-container" id="{{sec.section_id}}">
    
  <div class="dbui-subsection-header" ng-if="sec.subheading" ng-click="sec.isHidden = !sec.isHidden">
      <h4>{{labelGroup._subheading[sec.subheading] ? labelGroup._subheading[sec.subheading] : sec.subheading}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !sec.isHidden, 'glyphicon-chevron-left': sec.isHidden}"></i></h4>
  </div>
  <div ng-hide="sec.isHidden" class="dbui-subsection-content form-horizontal">
    <div class="row" ng-repeat="r in sec.rows">
      
        <div class="{{colClass.top[r.length]}}" ng-repeat="fieldName in r">
          <div class="form-group" ng-show="shouldShow(fieldName)">

            <label for="{{fieldName}}" class="{{colClass.label[r.length]}} control-label" uib-tooltip="{{labelGroup._tooltip[fieldName]}}" ng-class="{'required-field':isRequired(fieldName)}" tooltip-placement="bottom"> {{ labelGroup.getLabel(fieldName) }} <span ng-repeat="fa in fieldActions[fieldName]" ng-hide="fa.isHidden"><button class="btn btn-link" uib-tooltip="{{fa.label}}" ng-click="invokeFieldAction(fa, fieldName)"><i class="fa fa-lg" ng-class="fa.icon"></i></button></span></label>
            <dbui-field-editor type-desc="getTypeDesc(fieldName)" elem-id="fieldName" ng-model="getterSetter[fieldName]" ng-model-options="{ getterSetter: true }" class="{{colClass.value[r.length]}} dbui-edit-container" field-customizations="perspective.fieldCustomizations[fieldName]" context-object="theObject"></dbui-field-editor>

          </div>
        </div>
      
    </div>
  </div>
</div>
</div>