<div>
  <div ng-if="theObject" ng-repeat="sec in perspective.layout" class="dbui-subsection-container" id="{{sec.section_id}}">
    <div class="dbui-subsection-header" ng-if="sec.subheading" ng-click="sec.isHidden = !sec.isHidden">
      <h4>{{labelGroup._subheading[sec.subheading] ? labelGroup._subheading[sec.subheading] : sec.subheading}}  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !sec.isHidden, 'glyphicon-chevron-right': sec.isHidden}"></i></h4>
    </div>
    <div ng-hide="sec.isHidden">
      <div class="row" ng-repeat="r in sec.rows">
        <form class="form-horizontal">
          <div class="{{colClass.top[r.length]}}" ng-repeat="fieldName in r">
            <div class="form-group" ng-if="shouldShow(fieldName)">
              <label for="{{fieldName}}" class="{{colClass.label[r.length]}} control-label" >{{ labelGroup.getLabel(fieldName) }} <span ng-repeat="fa in fieldActions[fieldName]" ng-hide="fa.isHidden"><button class="btn btn-link" uib-tooltip="{{fa.label}}" ng-click="invokeFieldAction(fa, fieldName)"><i class="fa fa-lg" ng-class="fa.icon"></i></button></span></label>
              <dbui-field-viewer type-desc="typeDescMap[fieldName]" elem-id="fieldName" display-value="theObject[fieldName]" class="dbui-field-viewer {{colClass.value[r.length]}}" field-customizations="perspective.fieldCustomizations[fieldName]" context-object="theObject" ></dbui-field-viewer>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div><!-- end section div-->
</div>
