<div ng-form="editorForm">
<div ng-repeat="sec in perspective.layout" class="dbui-subsection-container" id="{{sec.section_id}}">
    
  <div class="dbui-subsection-header" ng-if="sec.subheading" ng-click="sec.isHidden = !sec.isHidden">
      <h4>{{labelGroup._subheading[sec.subheading] ? labelGroup._subheading[sec.subheading] : sec.subheading}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !sec.isHidden, 'glyphicon-chevron-right': sec.isHidden}"></i></h4>
  </div>
  <div ng-hide="sec.isHidden">
    <div class="row" ng-repeat="r in sec.rows">
      
        <div class="{{colClass.top[r.length]}} form-group" ng-repeat="fieldName in r" ng-show="shouldShow(fieldName)">
            
            
                <label for="{{fieldName}}" uib-tooltip="{{labelGroup._tooltip[fieldName]}}" ng-class="{'required-field':isRequired(fieldName)}" tooltip-placement="bottom"> {{ labelGroup.getExpandedLabel(fieldName) }}</label>
            
                <div ng-class="'field-editor-container_'+fieldName">
                    <dbui-field-editor fieldtype="{{getTypeDesc(fieldName).type}}" type-desc="getTypeDesc(fieldName)" elem-id="fieldName" ng-model="getterSetter[fieldName]" ng-model-options="{ getterSetter: true }" class="dbui-edit-container" field-customizations="perspective.fieldCustomizations[fieldName]" context-object="theObject" link-status="linkStatus[fieldName]"></dbui-field-editor>
                </div>
                <p class="help-block">{{labelGroup.getHelpText(fieldName)}}</p>
            
        </div>
      
    </div>
  </div>
</div>
</div>