<div>

  <!-- actual table data -->
  <div class="row dbui-pathview-data">
    <div class="col-xs-12  dbui-panel">

      <table class="table table-striped table-hover">
        <col style="width:8%"/>
        <thead>
          <tr>
            <th class="text-center"><i class="fa fa-2x fa-cog"></i>
              <!-- <span uib-dropdown>
                <a href id="cog-button" uib-dropdown-toggle ><i class="fa fa-2x fa-cog"></i></a>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="cog-button">
                  <li role="menuitem" ng-repeat="action in tableActionList"><a href ng-click="invokeAction(action)"> <i ng-if="action.icon" ng-class="action.icon" class="fa"></i> {{action.label}}</a><div ng-hide="$last"class="divider"></div></li>
                </ul>
              </span> -->
            </th>
            <th>{{getFieldLabel(perspective.pathField)}}</th>
            <th ng-repeat="field in dispFields"><a href="" ng-click="toggleSort(field)">{{getFieldLabel(field)}} &nbsp; <i
              ng-show="sortDef[field]" class="fa fa-sm" ng-class="{'fa-chevron-circle-down': sortDef[field]=='asc', 'fa-chevron-circle-up': sortDef[field]=='desc'}"></i></a></th>
          </tr>
        </thead>
        <tr ng-repeat="elementObj in pathElements" ng-if="elementObj.parent.expanded">
          <td class="text-center">
            <span ng-if="elementObj.bo" ng-repeat="action in recordActionList"><a href="" class="datatable_btn" ng-click="invokeRecordAction(elementObj.bo, action, $parent.$index)"><i ng-class="action.icon" class="fa fa-lg"></i></a> </span>
          </td>
          <td>
            <dbui-indent-spacer indent="elementObj.indent"></dbui-indent-spacer>
            <span ng-if="!elementObj.bo">
              <a href="#" class="folder_view_folder" ng-click="toggleCollapse(elementObj)">
                <i class="fa fa-sm"  ng-class="{'fa-caret-down': elementObj.expanded, 'fa-caret-right': !elementObj.expanded}"></i>
                <i class="fa fa-sm fa-folder-o"></i> {{elementObj.disp}}
              </a>
            </span>
            <span ng-if="elementObj.bo">
               <dbui-field-viewer ng-if="elementObj.bo[viewField] != null" type-desc="getTypeDesc(viewField)"  display-value="elementObj.bo[viewField]" abbreviated="true" style="display: inline-block;" ></dbui-field-viewer>
            </span>
          </td>
          <td ng-repeat="field in dispFields">
            <span ng-if="elementObj.bo">
              <dbui-field-viewer ng-if="elementObj.bo[field] != null" type-desc="getTypeDesc(field)"  display-value="elementObj.bo[field]" abbreviated="true"></dbui-field-viewer>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
