
<div class="qb-term-field-selector" uib-dropdown auto-close="disabled" is-open="fieldSelectorOpen" ng-keypress="keypress($event)" ng-keydown="keydown($event)">
  <a href uib-dropdown-toggle >
    {{term.fieldInfo.fieldLabel}} <span ng-show="term.fieldInfo.hasSubfields">&nbsp;&nbsp;<span ng-click="showSubfields(term.fieldInfo)" class="fa fa-lg fa-ellipsis-h"></span>&nbsp;&nbsp;</span>&nbsp;&nbsp;<i class="fa fa-lg fa-caret-down"></i>&nbsp;&nbsp;
  </a>
  <ul uib-dropdown-menu class="dropdown-menu" role="menu" aria-labelledby="single-button" >
    <li ng-repeat="fi in showingFieldList" role="menuitem" ng-hide="fi.hidden">
      <a href ng-click="fieldChanged(fi, true)">{{fi.fieldLabel}}</a>
    </li>
    <li class="divider" ng-show="filteredFieldList.length"></li>
    <li role="menuitem" ng-show="filteredFieldList.length" style="text-align:center">
        <a href ng-click="expandCollapseFieldList()"><i class="fa" ng-class="{'fa-chevron-down':(showingFieldList!==fieldList), 'fa-chevron-up':(showingFieldList===fieldList)}"></i></a>
    </li>
    <li class="divider"  ng-show="fieldFilter"></li>
    <li ng-show="fieldFilter">
        <a href ng-click="clearFilter()"><i>clear filter "{{fieldFilter}}"</i></a>
    </li>
  </ul>
</div>

<select class="form-control qb-term-op-selector" ng-model="term.opInfo" ng-change="opChanged(true)" ng-options="opObj as opObj.label for opObj in opList track by opObj.op"></select>

<span ng-if="fieldEditorVisible" class="qb-term-value-editor">
  <dbui-field-editor ng-model="term.value" type-desc="fieldEditorTypeDesc"></dbui-field-editor>
</span>


