<div class="querybuilder">
    
    <!-- Each clauseGroup is a set of 1 or more terms connected by innerConj -->
    <div class="qb-clause-group" ng-repeat="clauseGroup in queryModel.clauseGroups"> 
        <div class="qb-clause" ng-repeat="clause in clauseGroup">
            
            <div class="qb-term-row">
                <div class="qb-remove-term" ng-click="removeTerm(clauseGroup, $index)"><i class="fa fa-times-circle fa-lg"></i></div>
                <query-term-builder ng-if="fieldList" field-list="fieldList" config="qbConf" ng-model="clauseGroup[$index]"></query-term-builder>
            </div>
            <div class="qb-inner-conj-row" >
                <span ng-hide="$last"> - {{conjLabels[queryModel.innerConj]}} - </span>
                <span ng-show="$last">
                    <button ng-if="queryModel.innerConj" class="btn btn-default" ng-class="conjCss[queryModel.innerConj]" ng-click="newTerm(clauseGroup)">{{conjLabels[queryModel.innerConj]}}...</button>
                    <span ng-if="!queryModel.innerConj">
                        <button class="btn btn-default btn-and" ng-click="newTerm(clauseGroup, '$and')">and...</button>
                        <button class="btn btn-default btn-or" ng-click="newTerm(clauseGroup, '$or')">or...</button>
                    </span>
                </span>
            </div>
            
            
        </div> <!-- end clause-in-clauseGroup iteration-->
        
        <!-- all clauses in this group have been displayed; now output the "outerConj" label-->
        <div class="qb-outer-conj-row" ng-show="queryModel.outerConj">
            <span ng-hide="$last">{{conjLabels[queryModel.outerConj]}}</span>
            <!--<span ng-show="$last"><button ng-if="queryModel.outerConj" class="btn btn-default" ng-class="conjCss[queryModel.outerConj]" ng-click="newClauseGroup()">{{conjLabels[queryModel.outerConj]}}...</button></span>-->
        </div>
        <div class="qb-clause-placeholder" ng-if="$last && queryModel.outerConj">
            <button class="btn btn-default" ng-class="conjCss[queryModel.outerConj]" ng-click="newClauseGroup()">{{conjLabels[queryModel.outerConj]}}...</button>
        </div>
    </div>

</div>
