<div class="row">
<div class="col-xs-8 col-xs-offset-2 dbui-panel query-builder-panel">
  <!-- query builder -->
   <!--<div>-->
       <div class="dbui-panel-heading">
           <div class="query-panel-title"><i class="fas fa-fw" ng-class="{'fa-cubes':(!perspective.showingRaw),'fa-code':(perspective.showingRaw)}"></i> Query Editor <span ng-if="loadedQuery"> (Showing "{{loadedQuery.title}}")</span></div>
           <div class="btn-group pull-right">
               <label class="btn btn-default btn-sm" uib-btn-radio="false" ng-model="perspective.showingRaw" uib-tooltip="Query Builder" tooltip-placement="bottom"><i class="fas fa-cubes fa-fw"></i></label>
               <label class="btn btn-default btn-sm" uib-btn-radio="true" ng-model="perspective.showingRaw" uib-tooltip="Raw Query Editor" tooltip-placement="bottom"><i class="fas fa-code fa-fw"></i></label>
           </div>
        </div>
  <!--</div>-->
  
  <div ng-show="baseQuery" class="base-query-title">Base Query: <strong>{{baseQuery}}</strong></div>
  
  <div class="query-panel-main">
    <div ng-if="!perspective.showingRaw">
      <query-builder bo-class="boClass" ng-model="perspective.extraFilter" config="perspective.queryBuilderConfig" on-close="onClose()"></query-builder>
    </div>
    <div ng-if="perspective.showingRaw">
        <dbui-field-editor fieldtype="object" type-desc="{type:'object'}" elem-id="rawQuery" ng-model="perspective.extraFilter"></dbui-field-editor>
    </div>
  </div>
  <div class="dbui-panel-footer text-center">
      
      <div class="btn-toolbar">
          <div class="btn-group">
            <button type="button" class="btn btn-success" ng-click="execSearch()"><i class="fa fa-lg fa-play"></i> APPLY</button>
          </div>
          
          <div class="btn-group">
              <button type="button" class="btn btn-default" ng-click="clear()"><i class="fa fa-times"></i> Clear</button>
          </div>
          
          <div class="btn-group">    
              <button type="button" class="btn btn-default" ng-click="saveQuery()" uib-tooltip="Save query for later use"><i class="fa fa-save"></i></button>
              
              <div class="btn-group" uib-dropdown ng-show="perspective.savedQueries" uib-tooltip="Load a saved query">
                  <button type="button" class="btn btn-default" uib-dropdown-toggle ><i class="fa fa-folder-open"></i></button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-show="perspective.savedQueries" class="dropdown-section-heading">Saved Queries</li>
                    <li ng-repeat="sq in perspective.savedQueries"><a href ng-click="loadQuery(sq)">{{sq.title}}</a></li>
                </ul>
              </div>
              <div class="btn-group" uib-dropdown ng-show="loadedQuery" uib-tooltip="More options for {{loadedQuery.title}}">
                  <button type="button" class="btn btn-default" uib-dropdown-toggle ><i class="fa fa-caret-down"></i></button>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li><a href ng-click="dismissLoadedQuery()"><i class="fa fa-sm fa-times"></i> Dismiss/Unload</a></li>
                    <li><a href ng-click="deleteLoadedQuery()"><i class="fa fa-sm fa-trash"></i> Delete saved query</a></li>
                </ul>
              </div>
          </div>
          
      </div>
  </div>
  
</div>
</div>
