<div class="modal-header">
    <h4 class="modal-title">UpdateLog Package Reassignment</h4>
    
</div>
<div class="modal-body">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Reassign?</th>
                <th>Class</th>
                <th>Disp</th>
                <th>ID</th>
                <th>Update Count</th>
            </tr>
        </thead>
        <tbody>
            <tr n ng-repeat="obj in excludeList">
                <td><select class="form-control" ng-model="obj.targetPkg">
                    <option ng-value="null">No package</option>
                    <option ng-repeat="pkg in otherPackages" ng-value="pkg">{{pkg}}</option>
                </select></td>
                <td>{{ obj.boClass }}</td>
                <td>{{ obj.disp }}</td>
                <td>{{ obj.id }}</td>
                <td>{{ obj.updateCount }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$close()">OK</button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>