<div ng-controller="ctrl_PackageRepos">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-default" ng-click="newRepo()">New Remote Repository</button>
        </div>
    </div>
    
    <table class="table table-striped table-hover shrink-wrap">
        
        <thead>
          <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Enabled?</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in localStatus.repos">
              <td>{{r.name}}</td>
              <td>{{r.url}}</td>
              <td>{{r.enabled ? 'yes' : 'no'}}</td>
              <td>
                  <button class="btn btn-default" ng-click="editRepo(r)"><i class="fa fa-edit"></i> Edit</button>
              </td>
            </tr>
        </tbody>
    </table>
</div>