<div ng-controller="dbui_SidebarCtrl" >
<div class="sidebar-title" ng-hide="layoutStatus.sidebarMinimized || sidebarMenuList.length < 2">
    <a href ng-click="togglePinned()"><i class="fa" ng-class="{'fa-thumbtack':(sidebarMenu.key!==pinnedSidebar),'fa-circle':(sidebarMenu.key===pinnedSidebar)}"></i></a> 
    <div uib-dropdown is-open="sidebarSelectorOpen" ng-click="toggleSidebarSelectorMenu($event)">
        {{sidebarMenu.label}} 
        <ul class="dropdown-menu" uib-dropdown-menu >
            <li class="dropdown-section-heading">Switch Sidebar</li>
            <li role="menuitem" class="dropdown-menu-item" ng-repeat="menu in sidebarMenuList" ng-hide="menu==sidebarMenu">
                <a href ng-click="switchMenu(menu)">{{menu.label}}  <i ng-show="menu.key===pinnedSidebar" class="fa fa-thumbtack"></i></a>
            </li>
        </ul>
    </div>
</div>
<div class="sidebar-dbui" ng-class="{minimized:layoutStatus.sidebarMinimized}">
    <div class="toolbar btn-group btn-group-justified" ng-class="{active:configMenuOpen}">
        
        <div class="btn btn-default" uib-dropdown dropdown-append-to-body is-open="configMenuOpen" ng-click="toggleConfigMenu($event)" ng-class="{active:configMenuOpen}" ng-show="!layoutStatus.sidebarMinimized" > 
            <i class="fas fa-cog"></i>
            <ul class="sidebar-dropdown dropdown-menu" uib-dropdown-menu>
                
                <!--<li class="dropdown-section-heading">Switch Sidebar</li>-->
                <!--<li role="menuitem" ng-repeat="menu in sidebarMenuList" ng-class="{selected:(menu==sidebarMenu)}">-->
                    
                <!--    <a href ng-show="menu!=sidebarMenu" ng-click="switchMenu(menu)"><i ng-show="menu.key===pinnedSidebar" class="fa fa-thumbtack"></i> {{menu.label}}</a>-->
                <!--    <a ng-show="menu==sidebarMenu"><i ng-show="menu.key===pinnedSidebar" class="fa fa-thumbtack"></i> {{menu.label}}</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <li><a href ng-click="collapseAll()">Collapse All</a></li>
                <li><a href ng-click="expandAll()">Expand All</a></li>
            </ul>
        </div>
        
        <a class="btn btn-default" ng-click="toggleMinimized()"><i class="fas" ng-class="{'fa-angle-double-left':(!layoutStatus.sidebarMinimized), 'fa-angle-double-right':(layoutStatus.sidebarMinimized)}"></i></a> 
        <!-- fa-caret-left fa-caret-right-->
    </div>
    <ul class="sidebar-menu">
        <li ng-repeat="menuItem in sidebarMenu" ng-class="{'sm-exposed':(menuItem.hovering)}" ng-mouseenter="menuItem.hovering = true" ng-mouseleave="menuItem.hovering = false">
            <a href class="nav-link nav-toggle" ng-click="selectItem(menuItem)">
                <i class="menu-icon fa-fw fa-lg" ng-show="menuItem.icon" ng-class="(menuItem.iconType||'fas')+' '+menuItem.icon"></i>
                <!--<i class="menu-icon fa-fw fa-lg fas fa-circle" ng-hide="menuItem.icon"></i>-->
                <span class="title">{{menuItem.label}}</span>
                <i ng-if="menuItem.submenu && !layoutStatus.sidebarMinimized" class="submenu-indicator fas fa-sm" ng-class="{'fa-angle-left':(!menuItem.isOpen), 'fa-angle-down':menuItem.isOpen}"></i>
            </a>
            <div class="submenu-container" ng-class="{'popped-out':layoutStatus.sidebarMinimized}">
                <ul ng-if="menuItem.submenu" ng-show="layoutStatus.sidebarMinimized || menuItem.isOpen" class="sub-menu">
                    <li ng-repeat="submenuItem in menuItem.submenu">
                        <a href ng-click="selectItem(submenuItem)">
                        	<i class="menu-icon fa-fw" ng-show="submenuItem.icon" ng-class="(submenuItem.iconType||'fas')+' '+submenuItem.icon"></i>
                        	<!--<i class="menu-icon fa-fw fa-lg fas fa-stop-circle" ng-hide="submenuItem.icon"></i>-->
                            <span class="title">{{submenuItem.label}}</span>
                            <i ng-show="submenuItem.isMenu" class="submenu-indicator fas fa-sm fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
</div>