<div>
  <div class="modal-header">
    <h3 class="modal-title">{{title}} <small>Perspective: {{perspectiveObj.name}}</small></h3>
  </div>
  <div class="modal-body">
    <div class="row" ng-hide="showingSaveDialog">
      <div class="col-sm-4">
        <div class="picker-list-title">Available Fields</div>
        <ul class="perspective-layout-editor-src list-group" ui-on-drop="droppedOut($data)">

          <li class="list-group-item grabable" ng-repeat="fi in availableFields" ng-hide="fi.included || fi.refPlaceholder" ui-draggable="true" drag="fi">
            {{fi.fieldLabel}}
          </li>
        </ul>
      </div>
      <div class="col-sm-8">
        <div class="picker-list-title">Displayed Fields</div>
        
        <div class="perspective-layout-editor">
            <div class="editor-section" ng-repeat="section in layout">
                <div class="section-title">
                    <input class="form-control" type="text" ng-model="section.subheading" placeholder="(Section Heading)">
                    <button class="btn btn-warning" ng-click="sectionUp(section)" ng-disabled="$index == 0"><i class="fa fa-arrow-up"></i></button>
                    <button class="btn btn-warning" ng-click="sectionDown(section)" ng-disabled="$index >= layout.length-1"><i class="fa fa-arrow-down"></i></button>
                    <button class="btn btn-danger" ng-click="removeSection(section)"><i class="fa fa-times"></i></button>
                </div>
                
                
                <div class="editor-row" ng-repeat="row in section.rows">
                    <span class="cell-pair" ng-repeat="fi in row">
                        <div class="editor-cell grabable"  ui-draggable="true" drag="fi" ui-on-drop="droppedRow(section, fi, $data)">
                            {{fi.fieldLabel}}
                        </div>
                        <div class="add-column" ng-if="row.length < MAX_COLS" ui-on-drop="droppedCol(row, $index, $data)"></div>
                    </span>
                </div>
                <div class="add-row" ui-on-drop="droppedRow(section, null, $data)"></div>
                
                
            </div>
            
            <div class="add-section">
                <button class="btn btn-block btn-default" ng-click="addSection()"><i class="fa fa-plus"></i>Add Section</button>
            </div>
        </div>
        
      </div>
    </div>
    
    <div class="row" ng-show="showingSaveDialog">
        <div class="col-sm-10 col-sm-offset-1">
            <form class="form-inline">
            <div class="form-group">
                <label for="perspectiveName">Perspective Name</label>
                <input id="perspectiveName" type="text" class="form-control" ng-model="newPerspectiveName">
            </div>
            <div class="form-group">
                <label for="perspectiveType">Type</label>
                <select id="perspectiveType" class="form-control" ng-model="newPerspectiveType">
                    <option value="edit">Edit</option>
                    <option value="view">View</option>
                </select>
            </div>
            <button type="button" class="btn btn-warning" ng-click="saveAs(true)" ng-disabled="!newPerspectiveName">Save Perspective</button>
            <button type="button" class="btn btn-default" ng-click="showingSaveDialog = false">Cancel</button>
            </form>
        </div>
    </div>
  </div>
  <div class="modal-footer" ng-hide="showingSaveDialog">
    <button class="btn btn-danger" type="button" ng-click="saveCustom()" ng-show="allowCustomSave">Save Customization</button>
    <div class="btn-group" uib-dropdown ng-show="allowAdminSave">
        <button class="btn btn-danger" type="button" uib-dropdown-toggle>Save <span class="caret"></span></button>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a href ng-click="save()">Save <strong>{{perspectiveObj.name}}</strong> </a></li>
            <li class="divider"></li>
            <li><a href ng-click="saveAs()">Save as another perspective...</a></li>
        </ul>
    </div>
    
    <button class="btn btn-success" type="button" ng-click="done()">Done</button>
    <button class="btn btn-pirmary" type="button" ng-click="$dismiss()">Cancel</button>
</div>
</div>
