<div class="dbui-edit-field-object">
    <div class="ace-toolbar"></div>
    <div class="ace-wrapper">
        <div ui-ace="aceInit" ng-model="stringVal" ng-model-options="{debounce:200}"></div>
        <div class="ace-dragbar"></div>
    </div>
</div>