<div class="physical_address_editor" id="{{elemId}}">
    <div>
        <label for="{{elemId}}.address" class="sr-only">Address Line 1</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="{{elemId}}.address" ng-model="binding.value.address" placeholder="Address Line 1">
        </div>
    </div>
    
	<div>
	    <label for="{{elemId}}.address2" class="sr-only">Address Line 2</label>
	    <div class="col-sm-10">
	        <input type="text" class="form-control" id="{{elemId}}.address2" ng-model="binding.value.address2" placeholder="Address Line 2" >
	    </div>
	</div>
	
	<div>
	    <label for="{{elemId}}.city" class="sr-only">City</label>
	    <div class="col-sm-10">
	        <input type="text" class="form-control" id="{{elemId}}.city" ng-model="binding.value.city" placeholder="City">
	    </div>
	</div>
	
	<div>
        <label for="{{elemId}}.state" class="sr-only">State / Province / Region</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" autocomplete="off" id="{{elemId}}.state" ng-model="binding.value.state"	 placeholder="State / Province / Region" uib-typeahead="s.label for s in states | filter:$viewValue">
        </div>
    </div>
    
    <div>
        <label for="{{elemId}}.zip" class="sr-only">Zip</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="{{elemId}}.zip" ng-model="binding.value.zip" placeholder="Zip">
        </div>
    </div>
    
    <div>
        <label for="{{elemId}}.country" class="sr-only">Country</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="{{elemId}}.country" ng-model="binding.value.country" placeholder="Country">
        </div>
    </div>
</div>