<div class="input-group">
  <span class="input-group-addon"><i class="fas fa-lg fa-dollar-sign"></i></span>
  <input type="number" class="form-control" id="{{elemId}}" ng-model="binding.value">
</div>