<div class="form-control-static dbui-view-field-boolean" >
  <span ng-if="fieldCustomizations.displayValue" ng-class="fieldCustomizations.displayValue[''+displayValue].class">{{fieldCustomizations.displayValue[''+displayValue].text}}</span>
  <span ng-if="!fieldCustomizations.displayValue">{{displayValue}}</span>
</div>