<div class="dbui-edit-field-object">
    <div class="ace-toolbar"></div>
    <div class="ace-wrapper">
        <div ui-ace="aceInit" ng-model="binding.value"></div>
        <div class="ace-dragbar"></div>
    </div>
</div>