<div class="dbui-edit-field-reference">
	<p class="input-group">
	<span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="showPicker()"><i class="fa fa-ellipsis-h"></i></button>
       <button type="button"  ng-show="fieldCustomizations.enableViewLink && binding.value" class="btn btn-default" ng-click="viewRefObj()"><i class="fa fa-eye"></i></button>
    </span>
	<input type="text" class="form-control" autocomplete="off" id="{{elemId}}" ng-model="refDisplayText"
	 placeholder="(empty)"
   ng-blur="lostFocus()"
	 uib-typeahead="stub._disp for stub in getRefs($viewValue)"
   typeahead-on-select="onSelect($item, $model, $label)"
   ng-model-options="{debounce:200}">
   <div ng-if="fieldCustomizations.fieldActions">
       <button type="button" ng-repeat="action in fieldCustomizations.fieldActions" class="btn btn-action" ng-click="invokeAction(action)"><i class="fa fa-lg" ng-class="action.icon" ></i> {{ action.label }}</button>
   </div>
   </p>
   <div ng-if="fieldCustomizations.includeTemplate" ng-include src="fieldCustomizations.includeTemplate" ></div>
</div>