<div>
  <div>{{displayValue.address}}</div>
  <div>{{displayValue.address2}}</div>
  <div>{{displayValue.city}}, {{displayValue.state}}  {{displayValue.zip}}</div>
  <div>{{displayValue.country}}</div>
</div>