<div class="dbui-view-field-object">
  <div ng-if="!abbreviated" ui-ace="aceInit" readonly></div>
  <textarea disabled="disabled" style="border: 1px solid #ddd;width:100%;background-color: rgba(0,0,0,0);" ng-if="abbreviated">{{displayValue}}</textarea>
</div>