<div>
    <span ng-if="!useViewer">{{ displayValue._disp }}</span>
    <dbui-object-viewer ng-if="useViewer && subPerspective" the-object="displayValue" perspective="subPerspective"></dbui-object-viewer>
</div>